@font-face {
  font-family: "AvenirNextCondensed-DemiBold";
  src: url("../fonts/AvenirNextCondensed-DemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextCondensed-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCondensed-DemiBold.otf") format("opentype"), url("../fonts/AvenirNextCondensed-DemiBold.svg") format("svg"), url("../fonts/AvenirNextCondensed-DemiBold.ttf") format("truetype"), url("../fonts/AvenirNextCondensed-DemiBold.woff") format("woff"), url("../fonts/AvenirNextCondensed-DemiBold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextCondensed-Bold";
  src: url("../fonts/AvenirNextLTPro-BoldCn.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-BoldCn.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-BoldCn.otf") format("opentype"), url("../fonts/AvenirNextLTPro-BoldCn.svg") format("svg"), url("../fonts/AvenirNextLTPro-BoldCn.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-BoldCn.woff") format("woff"), url("../fonts/AvenirNextLTPro-BoldCn.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.otf") format("opentype"), url("../fonts/Lato-Bold.svg") format("svg"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.otf") format("opentype"), url("../fonts/Lato-Medium.svg") format("svg"), url("../fonts/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.otf") format("opentype"), url("../fonts/Lato-Heavy.svg") format("svg"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.otf") format("opentype"), url("../fonts/Lato-Regular.svg") format("svg"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Semibold";
  src: url("../fonts/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.otf") format("opentype"), url("../fonts/Lato-Semibold.svg") format("svg"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-MediumCnIt";
  src: url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.otf") format("opentype"), url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.svg") format("svg"), url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.ttf") format("truetype"), url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.woff") format("woff"), url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

body.no-scroll, html.no-scroll {
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.holder {
  margin: 0 auto;
  max-width: 1090px;
  width: 100%;
}

.align-top,
.align-middle,
.align-bottom {
  display: inline-block;
  float: none;
  margin-left: -2px;
  margin-right: -2px;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.table-layout {
  display: table;
  width: 100%;
}

.table-cell-layout {
  display: table-cell;
}

/* Outer wrapper */
.outer-wrapper {
  margin-top: 60px;
  width: 100vw;
}

#embed-target {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
}

@media (max-height: 750px) {
  .outer-wrapper {
    height: auto;
  }
}
@media (min-height: 750px) and (max-width: 767px) {
  .outer-wrapper {
    height: calc(100vh - 61px);
  }
}
@media (min-width: 767px) {
  .outer-wrapper {
    height: calc(100vh - 151px);
    margin-top: 81px;
    position: relative;
  }
}
@media (min-width: 767px) and (max-height: 700px) {
  .outer-wrapper {
    margin-top: 70px;
  }
}
/* Block */
.block {
  padding: 65px 0;
}

.block .header {
  margin-bottom: 35px;
}

.block .header .title {
  margin-top: 0;
  text-align: center;
}

/*
    Document   : contact.styl
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/
/* Override Holder */
.contact > .holder {
  max-width: 680px;
}

.contact .contact-info {
  margin-bottom: 35px;
}

.contact .contact-form {
  min-height: 150px;
  /* Chrome/Opera/Safari */
  /* Firefox 19+ */
  /* IE 10+ */
  /* Firefox 18- */
}

.contact .contact-form ::-webkit-input-placeholder {
  color: #999;
}

.contact .contact-form ::-moz-placeholder {
  color: #999;
}

.contact .contact-form :-ms-input-placeholder {
  color: #999;
}

.contact .contact-form :-moz-placeholder {
  color: #999;
}

.contact .contact-form input[type=text],
.contact .contact-form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #dcdcdc;
  border-radius: 0;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.contact .contact-form textarea {
  height: 125px;
  resize: none;
}

.contact .contact-form input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #dcdcdc;
  border: none;
  border-radius: 0;
  color: #666;
  cursor: pointer;
  display: block;
  margin-left: auto;
  max-width: 180px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/*
    Document   : footer.styl
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/
.footer {
  background-color: #f1f1f1;
  color: #9a9a9a;
  font-size: 11px;
  padding: 15px 0;
}

.footer .goplek-logo {
  display: block;
  margin-left: auto;
  width: 50px;
}

.loader {
  background: #ffffff;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
}
.loader #animation_container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*
    Document   : navigation.scss
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/
.navigation {
  background: #fff;
  border-bottom: 2px solid #007937;
  height: 81px;
  padding: 10px 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: all 355ms linear;
  transition: all 355ms linear;
  width: 100%;
  z-index: 11;
}
.navigation .holder {
  height: 100%;
  max-width: 1290px;
  width: 100%;
}
.navigation .container-fluid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.navigation .logo {
  display: block;
  float: left;
  max-width: 133px;
  width: 100%;
}
.navigation .list {
  height: 100%;
  list-style: none;
  margin: 0 auto;
  max-width: 152px;
  padding: 0;
  text-align: right;
  width: 100%;
}
.navigation .list li {
  font-family: "AvenirNextCondensed-DemiBold", sans-serif;
  font-size: 16px;
  height: 68px;
  line-height: 65px;
  text-transform: uppercase;
  width: 100%;
}
.navigation .list li a {
  color: #004E1E;
  display: block;
  height: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.navigation .list li a span {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.navigation .list li.add-after {
  margin-bottom: 29px;
  position: relative;
}
.navigation .list li.add-after:after {
  background: #fff;
  bottom: -16px;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.navigation .list li.other-font {
  font-family: "AvenirNextLTPro-MediumCnIt", sans-serif;
  font-size: 12px;
  pointer-events: none;
}
.navigation .list li.other-font a {
  color: #737373;
}
.navigation .list li.change-font {
  font-family: "AvenirNext-Medium", sans-serif;
}
.navigation .list li.change-font a {
  color: #494949;
}
.navigation .list li.flag {
  margin-top: 42px;
}
.navigation .list li.flag a img {
  margin: 0 auto;
  max-width: 25px;
  width: 100%;
}
.navigation .list-wrapper {
  background-color: #DDDEE1;
  height: calc(100vh - 151px);
  max-width: 395px;
  overflow-y: scroll;
  opacity: 0;
  padding: 94px 20px 58px;
  position: fixed;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 375ms, -webkit-transform 375ms;
  transition: opacity 375ms, -webkit-transform 375ms;
  transition: opacity 375ms, transform 375ms;
  transition: opacity 375ms, transform 375ms, -webkit-transform 375ms;
  top: 81px;
  width: 100%;
}
.navigation .list-wrapper.list-collapsed {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.navigation .bandera {
  margin: 0 auto;
  margin-right: 10px;
  height: 32px;
}
.navigation .bandera img {
  width: 31px;
}
.navigation .toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  margin-right: 26px;
  outline: none;
  padding: 7px;
  width: 50px;
}
.navigation .toggle-btn .bar {
  background-color: #979797;
  display: block;
  height: 3px;
  left: 0;
  margin-bottom: 5px;
  -webkit-transition: all 355ms linear;
  transition: all 355ms linear;
}
.navigation .toggle-btn .bar:nth-child(1) {
  top: 0;
}
.navigation .toggle-btn .bar:nth-child(2) {
  top: 8px;
}
.navigation .toggle-btn .bar:nth-child(3) {
  top: 8px;
}
.navigation .toggle-btn .bar:nth-child(4) {
  top: 16px;
}
.navigation.navigation-collapsed .toggle-btn .bar:nth-child(1) {
  margin-bottom: -11px;
  margin-top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation.navigation-collapsed .toggle-btn .bar:nth-child(2) {
  background: transparent;
}
.navigation.navigation-collapsed .toggle-btn .bar:nth-child(3) {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.navigation .item-active:after {
  background: #004e1e;
  bottom: 20px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 40px;
}

@media (max-width: 767px), (max-height: 700px) {
  .navigation {
    height: 50px;
  }
  .navigation .logo {
    margin-left: 4px;
  }
  .navigation .list {
    max-width: 158px;
  }
  .navigation .list li {
    height: 64px;
  }
  .navigation .list li.add-after:after {
    bottom: -18px;
  }
  .navigation .list li.flag {
    margin-bottom: 58px;
  }
  .navigation .list-wrapper {
    height: calc(100vh - 60px);
    padding: 45px 20px 58px;
    max-width: 289px;
    top: 60px;
    width: 100%;
  }
  .navigation .toggle-btn {
    margin-right: -5px;
    padding: 9px;
  }
}
.footer {
  background-color: #A1A3AB;
  color: #9a9a9a;
  padding: 0;
  position: relative;
}
.footer .holder {
  margin: 0;
  max-width: initial;
}
.footer .container-fluid {
  padding: 0 45px;
}
.footer .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer .content .footer-left,
.footer .content .footer-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer .content .footer-left .logo-cargo-baja {
  max-width: 157px;
  width: 100%;
}
.footer .content .footer-left .copyright {
  font-family: "Lato-Medium", sans-serif;
  font-size: 9px;
  margin-left: 40px;
  max-width: 148px;
  width: 100%;
}
.footer .content .footer-left .copyright span {
  display: block;
  width: 100%;
}
.footer .content .footer-right .logo-en {
  margin-right: 65px;
}
.footer .content .footer-right .privacity {
  border-bottom: 1px solid #ffffff;
  color: #fff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
.footer .content .footer-right .logo-goplek {
  display: block;
  margin-left: auto;
  width: 75px;
}
.footer.changePosition {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

@media (max-width: 767px) {
  .footer {
    padding: 15px;
  }
  .footer.changePosition {
    position: relative;
  }
}
@media (max-height: 700px) {
  .footer .content {
    height: 55px;
  }
}
@media (max-width: 700px) {
  .footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 129px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .content .footer-left,
.footer .content .footer-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .content .footer-left {
    max-width: 138px;
    width: 100%;
  }
  .footer .content .footer-left .logo-cargo-baja {
    margin-bottom: 10px;
    max-width: 89px;
    width: 100%;
  }
  .footer .content .footer-left .copyright {
    margin-left: 0;
    margin-top: 6px;
    text-align: center;
  }
  .footer .content .footer-right .logo-en {
    margin-bottom: 10px;
    margin-right: 1px;
  }
  .footer .content .footer-right .privacity {
    border-bottom: 1px solid #ffffff;
    margin-right: 0;
    text-transform: uppercase;
  }
  .footer .content .footer-right .logo-goplek {
    display: block;
    margin-left: 0;
    width: 27px;
  }
  .footer .content .footer-right .logo-goplek img {
    width: 100%;
  }
}
/* sections */
/*
    Document   : _cover.scss
    Created on : 19/02/2019, 04:043:15 PM
    Author     : cesarmejia
    Description:
*/
.block.cover {
  height: 100%;
  padding: 32px 0 93px;
}
.block.cover .holder {
  height: 100%;
}
.block.cover .wrapper-information-cover {
  position: relative;
  top: inherit;
  -webkit-transform: inherit;
          transform: inherit;
}
.block.cover .wrapper-text-cover {
  color: #1E3755;
  font-family: "Lato-Medium", sans-serif;
  font-size: 13px;
  left: 43%;
  line-height: 16px;
  max-width: 236px;
  min-height: 51px;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
.block.cover .wrapper-services-cover {
  margin: 34px auto 0;
  max-width: 77%;
  width: 100%;
}
.block.cover .wrapper-services-cover .inner-services-cover {
  background: url(../imgs/hexagono.svg) no-repeat center;
  background-size: contain;
  color: #595959;
  display: block;
  height: 152px;
  max-width: 128px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.block.cover .wrapper-services-cover .inner-services-cover .service-content {
  font-family: "Lato-Heavy", sans-serif;
  font-size: 13px;
  left: 50%;
  line-height: 16px;
  min-height: 33px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: font-size 355ms ease-in-out, color 355ms ease-in-out;
  transition: font-size 355ms ease-in-out, color 355ms ease-in-out;
  width: 89%;
}
.block.cover .wrapper-services-cover .inner-services-cover .service-content b {
  font-size: 13px;
}
.block.cover .wrapper-services-cover .inner-services-cover:first-child {
  margin-left: auto;
}
.block.cover .wrapper-services-cover .inner-services-cover:nth-child(2n) {
  background: url(../imgs/hexagono.svg) no-repeat center;
  background-size: contain;
  margin: -24px auto 0;
}
.block.cover .wrapper-services-cover .inner-services-cover:first-child, .block.cover .wrapper-services-cover .inner-services-cover:last-child {
  margin-top: -24px;
}
.block.cover .wrapper-services-cover .inner-services-cover:hover {
  color: #595959;
}
.block.cover .wrapper-services-cover .inner-services-cover:hover .service-content {
  font-size: 13px;
  line-height: 16px;
}
.block.cover .wrapper-animation-cover {
  bottom: inherit;
  margin-top: -43px;
  overflow: hidden;
  position: absolute;
  right: inherit;
  width: 100%;
  z-index: -1;
}
.block.cover .wrapper-animation-cover .inner-animation-cover {
  margin-left: auto;
  margin-right: 8px;
  max-width: 289px;
  width: 100%;
}
.block.cover .wrapper-animation-cover .inner-animation-cover .content-container-cover {
  height: 100% !important;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 100% !important;
}
.block.cover .wrapper-animation-cover .inner-animation-cover .content-container-cover .content-canvas-cover {
  height: auto !important;
  width: 100% !important;
}
.block.cover .wrapper-animation-cover .inner-animation-cover .content-container-cover .content-canvas-cover .content-overlay-cover {
  height: 100% !important;
  width: 100% !important;
}

@media (min-width: 767px) and (max-height: 700px) {
  .block.cover .wrapper-text-cover {
    position: absolute;
  }
}
@media (min-width: 867px) {
  .block.cover {
    height: 100%;
    min-height: 640px;
    overflow: hidden;
    padding: 11px 0 0;
    position: relative;
  }
  .block.cover:after {
    background: url(../imgs/part-hexagon.svg) no-repeat center;
    background-size: cover;
    bottom: 0;
    content: "";
    display: block;
    height: 163px;
    left: 55.5%;
    opacity: 0.17;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 171px;
  }
  .block.cover .holder {
    height: 100%;
    max-width: 1189px;
    position: relative;
  }
  .block.cover .wrapper-information-cover {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  .block.cover .wrapper-text-cover {
    font-size: 25px;
    line-height: 33px;
    left: inherit;
    margin: 0 0 0 10px;
    max-width: 650px;
    min-width: 61px;
    -webkit-transform: inherit;
            transform: inherit;
  }
  .block.cover .wrapper-services-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 61px auto 0;
    max-width: none;
  }
  .block.cover .wrapper-services-cover .inner-services-cover {
    max-width: 312px;
    padding-bottom: 31%;
    position: relative;
  }
  .block.cover .wrapper-services-cover .inner-services-cover .service-content {
    font-size: 26px;
    line-height: 40px;
    max-width: 80%;
    width: 100%;
  }
  .block.cover .wrapper-services-cover .inner-services-cover .service-content b {
    font-size: 27px;
  }
  .block.cover .wrapper-services-cover .inner-services-cover:after, .block.cover .wrapper-services-cover .inner-services-cover:before {
    background: url(../imgs/hexagon-part.svg) no-repeat center;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    width: 171px;
  }
  .block.cover .wrapper-services-cover .inner-services-cover:first-child {
    margin: 62px auto 0;
  }
  .block.cover .wrapper-services-cover .inner-services-cover:first-child:after, .block.cover .wrapper-services-cover .inner-services-cover:first-child:before {
    height: 320px;
  }
  .block.cover .wrapper-services-cover .inner-services-cover:first-child:after {
    left: -38px;
    top: -51px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .block.cover .wrapper-services-cover .inner-services-cover:first-child:before {
    bottom: -34px;
    right: -48px;
  }
  .block.cover .wrapper-services-cover .inner-services-cover:nth-child(2n) {
    margin: -23px auto 0;
  }
  .block.cover .wrapper-services-cover .inner-services-cover:last-child {
    margin: -112px auto 0;
  }
  .block.cover .wrapper-services-cover .inner-services-cover:last-child:after {
    height: 163px;
    right: -53px;
    top: 18px;
    -webkit-transform: rotate(304deg);
            transform: rotate(304deg);
  }
  .block.cover .wrapper-services-cover .inner-services-cover:hover {
    color: #919090;
  }
  .block.cover .wrapper-services-cover .inner-services-cover:hover .service-content {
    font-size: 32px;
    line-height: 40px;
  }
  .block.cover .wrapper-animation-cover {
    bottom: -83px;
    overflow: visible;
    position: absolute;
    right: 0;
  }
  .block.cover .wrapper-animation-cover .inner-animation-cover {
    margin-right: -78px;
    max-width: 573px;
  }
}
.benefits {
  height: calc(100vh - 151px);
}
.benefits .holder {
  max-width: 1300px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.benefits .holder .container-fluid .header {
  margin: 0 auto;
  margin-bottom: 62px;
  max-width: 612px;
}
.benefits .holder .container-fluid .header .title {
  color: #1D3756;
  font-family: "Lato-Bold";
  font-size: 25px;
  text-transform: uppercase;
}
.benefits .holder .container-fluid .header .intro {
  color: #595959;
  font-family: "Lato-Medium";
  font-size: 15px;
  margin-top: 26px;
  text-align: center;
}
.benefits .holder .container-fluid .content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.benefits .holder .container-fluid .content .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.benefits .holder .container-fluid .content .item:after {
  background: #AFAFAF;
  content: "";
  display: block;
  height: 115px;
  right: -15%;
  opacity: 0.29;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 2px;
}
.benefits .holder .container-fluid .content .item:last-child:after {
  content: none;
}
.benefits .holder .container-fluid .content .item .title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1D3756;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato-SemiBold";
  font-size: 15px;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  margin-bottom: 14px;
  margin-top: 18px;
  max-width: 154px;
  text-align: center;
  text-transform: uppercase;
}
.benefits .holder .container-fluid .content .item .desc {
  color: #888888;
  font-family: "Lato-Medium";
  font-size: 15px;
  max-width: 190px;
  text-align: center;
}

@media (max-width: 600px), (max-height: 700px) {
  .benefits {
    padding-top: 0;
  }
  .benefits .holder .container-fluid .header {
    margin-bottom: 20px;
  }
  .benefits .holder .container-fluid .header .intro {
    margin-top: 0;
  }
}
@media (max-width: 1250px) {
  .benefits .holder .container-fluid .content .item {
    padding: 0 16px;
  }
  .benefits .holder .container-fluid .content .item:after {
    right: 0;
  }
}
@media (max-width: 767px) {
  .benefits {
    height: auto;
    padding: 28px;
  }
  .benefits .holder {
    height: 100vh !important;
    overflow: scroll;
    top: initial;
    -webkit-transform: none;
            transform: none;
  }
  .benefits .holder .container-fluid .header {
    margin-bottom: 0;
  }
  .benefits .holder .container-fluid .header .intro {
    font-size: 13px;
    margin-top: 16px;
  }
  .benefits .holder .container-fluid .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits .holder .container-fluid .content .item {
    padding: 36px 0;
  }
  .benefits .holder .container-fluid .content .item:after {
    bottom: 0;
    height: 2px;
    right: initial;
    top: initial;
    width: 105px;
  }
  .benefits .holder .container-fluid .content .item:last-child {
    padding-bottom: 0;
  }
  .benefits .holder .container-fluid .content .item .desc {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .benefits .holder .container-fluid .header {
    max-width: 266px;
  }
}
.payment {
  height: calc(100vh - 151px);
  min-height: 650px;
}
.payment .holder {
  max-width: 1300px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.payment .holder .container-fluid {
  /* Chrome/Opera/Safari */
  /* Firefox 19+ */
  /* IE 10+ */
  /* Firefox 18- */
  /* Firefox 19+ */
  /* IE 10+ */
  /* Firefox 18- */
}
.payment .holder .container-fluid .checkout-form ::-webkit-input-placeholder {
  color: #747474;
  font-family: "Lato-Medium";
  font-size: 15px;
}
.payment .holder .container-fluid .checkout-form ::-moz-placeholder {
  color: #747474;
  font-family: "Lato-Medium";
  font-size: 15px;
}
.payment .holder .container-fluid .checkout-form :-ms-input-placeholder {
  color: #747474;
  font-family: "Lato-Medium";
  font-size: 15px;
}
.payment .holder .container-fluid .checkout-form :-moz-placeholder {
  color: #747474;
  font-family: "Lato-Medium";
  font-size: 15px;
}
.payment .holder .container-fluid .checkout-form input[type=text].invalid,
.payment .holder .container-fluid .checkout-form input[type=password].invalid {
  color: #f00;
}
.payment .holder .container-fluid .checkout-form .invalid::-webkit-input-placeholder {
  color: #f00;
}
.payment .holder .container-fluid .checkout-form .invalid::-moz-placeholder {
  color: #f00;
}
.payment .holder .container-fluid .checkout-form .invalid:-ms-input-placeholder {
  color: #f00;
}
.payment .holder .container-fluid .checkout-form .invalid:-moz-placeholder {
  color: #f00;
}
.payment .holder .container-fluid .checkout-form.loading .loader-element,
.payment .holder .container-fluid .checkout-form.response-visible .response {
  opacity: 0.65;
  width: 100%;
}
.payment .holder .container-fluid .checkout-form.response-visible .response {
  opacity: 1;
}
.payment .holder .container-fluid .checkout-form {
  display: block;
  margin: 0 auto;
  max-width: 971px;
  position: relative;
}
.payment .holder .container-fluid .checkout-form .loader-element {
  background: #f0f0f0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-transition: opacity 375ms;
  transition: opacity 375ms;
}
.payment .holder .container-fluid .checkout-form .loader-element .inner {
  color: #333333;
  font-size: 18px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.payment .holder .container-fluid .checkout-form .loader-element .heading {
  border-bottom: 1px solid #666;
  padding-bottom: 40px;
}
.payment .holder .container-fluid .checkout-form .loader-element .body h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0;
}
.payment .holder .container-fluid .checkout-form .loader-element .data {
  font-size: 15px;
  margin: 0 auto 20px;
  max-width: 540px;
  text-align: left;
}
.payment .holder .container-fluid .checkout-form .loader-element .data:last-child {
  margin-bottom: 0;
}
.payment .holder .container-fluid .checkout-form .loader-element {
  background: url(../imgs/loader.svg) no-repeat center center;
  z-index: 1;
}
.payment .holder .container-fluid .checkout-form .heading {
  color: #1D3756;
  font-family: "Lato-SemiBold";
  font-size: 20px;
  margin-bottom: 85px;
  text-align: center;
}
.payment .holder .container-fluid .checkout-form .heading small {
  font-family: "Lato-Regular";
  font-size: 15px;
}
.payment .holder .container-fluid .checkout-form .content .input-container {
  max-width: 455px;
}
.payment .holder .container-fluid .checkout-form .content input, .payment .holder .container-fluid .checkout-form .content select, .payment .holder .container-fluid .checkout-form .content button {
  background: #F4F4F4;
  border: none;
  color: #747474;
  font-family: "Lato-Medium";
  font-size: 15px;
  margin: 0 0 18px;
}
.payment .holder .container-fluid .checkout-form .content input[type=text], .payment .holder .container-fluid .checkout-form .content select {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
  height: 41px;
  outline: none;
  width: 100%;
}
.payment .holder .container-fluid .checkout-form .content input[type=text] {
  padding: 6px 10px;
}
.payment .holder .container-fluid .checkout-form .content button {
  background: #009A4D;
  color: #ffffff;
  cursor: pointer;
  float: right;
  height: 32px;
  margin-bottom: 50px;
  margin-top: 2px;
  outline: none;
  text-transform: uppercase;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  width: 228px;
}
.payment .holder .container-fluid .checkout-form .content button span {
  display: block;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}
.payment .holder .container-fluid .checkout-form .content .brand-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}
.payment .holder .container-fluid .checkout-form .content .brand-wrapper span {
  color: #757575;
  font-family: "Lato-Medium";
  font-size: 15px;
  margin-right: 24px;
  max-width: 109px;
  text-align: center;
}
.payment .response {
  background: #ffffff;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 750ms;
  transition: opacity 750ms;
  width: 0;
}
.payment .response.loading {
  height: 100%;
  opacity: 0.65;
  width: 100%;
}

@media (max-width: 767px) {
  .payment {
    height: auto;
    padding: 28px 0;
  }
  .payment .holder {
    top: initial;
    -webkit-transform: initial;
            transform: initial;
  }
  .payment .holder .container-fluid .checkout-form .heading {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .payment .holder .container-fluid .checkout-form .heading small {
    font-size: 12px;
  }
  .payment .holder .container-fluid .checkout-form .content .input-container {
    margin: 0 auto;
  }
  .payment .holder .container-fluid .checkout-form .content button {
    float: initial;
    left: 50%;
    margin-bottom: 23px;
    margin-top: 23px;
    position: relative;
    -webkit-transform: skewX(-20deg) translate(-50%);
            transform: skewX(-20deg) translate(-50%);
    width: 284px;
  }
  .payment .holder .container-fluid .checkout-form .content .brand-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.block.contact {
  overflow: hidden;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}
.block.contact:after {
  background: #61758B;
  content: "";
  display: block;
  height: 388px;
  left: 0;
  opacity: 0.07;
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}
.block.contact .element-title-back {
  color: #595959;
  display: none;
  font-family: "AvenirNextCondensed-DemiBold", sans-serif;
  font-size: 250px;
  left: -48px;
  line-height: 341px;
  max-width: 993px;
  opacity: 0.02;
  position: absolute;
  text-transform: uppercase;
  top: -67px;
  width: 100%;
  z-index: -1;
}
.block.contact .status-message {
  background: #fff !important;
}
.block.contact .status-message .error, .block.contact .status-message .sending .message, .block.contact .status-message .success .message-success {
  color: #595959;
  font-family: "Lato-Medium", sans-serif;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: normal;
}
.block.contact .status-message .sending .load-image, .block.contact .status-message .success .load-image-success {
  max-width: 118px;
}
.block.contact .status-message .success .message-success b {
  font-family: "Lato-SemiBold", sans-serif;
  font-size: 20px;
}
.block.contact .holder {
  max-width: 1300px !important;
}
.block.contact .holder .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.block.contact .holder .content .contact-info {
  width: 45%;
}
.block.contact .holder .content .contact-info .inner-contact-info {
  left: 49%;
  margin-top: 96px;
  max-width: 332px;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
.block.contact .holder .content .contact-info .header {
  margin-bottom: 22px;
}
.block.contact .holder .content .contact-info .title {
  color: #1D3756;
  font-family: "Lato-Bold", sans-serif;
  font-size: 28px;
  letter-spacing: -0.11px;
  line-height: 34px;
  margin-bottom: 0;
  text-align: left;
  text-transform: uppercase;
}
.block.contact .holder .content .contact-info .info-message {
  color: #404040;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 43px;
  max-width: 297px;
  min-height: 58px;
  position: relative;
  width: 100%;
}
.block.contact .holder .content .contact-info .info-message:after {
  background: url(../imgs/green-arrow.svg) center no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 17px;
  position: absolute;
  right: -51px;
  top: 6px;
  width: 8px;
}
.block.contact .holder .content .contact-info .wrapper-content-numbers {
  position: relative;
}
.block.contact .holder .content .contact-info .office-phone, .block.contact .holder .content .contact-info .mobil-phone {
  color: #595959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 100%;
}
.block.contact .holder .content .contact-info .office-phone .icon, .block.contact .holder .content .contact-info .mobil-phone .icon {
  display: block;
  margin-right: 20px;
  max-width: 23px;
  width: 100%;
}
.block.contact .holder .content .contact-info .office-phone .text, .block.contact .holder .content .contact-info .mobil-phone .text {
  font-family: "AvenirNext-Medium", sans-serif;
  font-size: 20px;
  line-height: 37px;
}
.block.contact .holder .content .wrapper-contact-form {
  margin-top: -20px;
  min-height: 440px;
  position: relative;
  width: 55%;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form {
  background: #007934;
  height: 100%;
  margin: 0 auto;
  max-width: 92%;
  padding: 0 45px;
  position: relative;
  -webkit-transform: skew(-9deg);
          transform: skew(-9deg);
  width: 100%;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form:after {
  background: #007934;
  content: "";
  display: block;
  height: 367px;
  left: -19px;
  opacity: 0.13;
  position: absolute;
  -webkit-transform: skew(-1deg);
          transform: skew(-1deg);
  top: -39px;
  width: 4px;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend {
  height: 100%;
  -webkit-transform: skew(-2deg);
          transform: skew(-2deg);
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form {
  margin: 0 auto;
  max-width: 475px;
  position: relative;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form .wrapper-content-form {
  opacity: 1;
  -webkit-transition: opacity 375ms ease-in-out;
  transition: opacity 375ms ease-in-out;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form .wrapper-content-form.partial-hide {
  opacity: 0;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form span {
  display: none;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text], .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Lato-Bold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 25px;
  -webkit-transform: skew(4deg);
          transform: skew(4deg);
  outline: none;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text]::-webkit-input-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea::-webkit-input-placeholder {
  color: #fff !important;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15 px;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text]:-moz-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea:-moz-placeholder {
  color: #fff !important;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15 px !important;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text]::-moz-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea::-moz-placeholder {
  color: #fff !important;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15 px !important;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text]:-ms-input-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea:-ms-input-placeholder {
  color: #fff !important;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15 px !important;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text].invalid, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea.invalid {
  border-bottom: 1px solid #F21313;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text].invalid::-webkit-input-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea.invalid::-webkit-input-placeholder {
  color: #F21313 !important;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15 px;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text].invalid:-moz-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea.invalid:-moz-placeholder {
  color: #F21313 !important;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15 px !important;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text].invalid::-moz-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea.invalid::-moz-placeholder {
  color: #F21313 !important;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15 px !important;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text].invalid:-ms-input-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea.invalid:-ms-input-placeholder {
  color: #F21313 !important;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15 px !important;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea {
  height: 80px;
  line-height: 29px;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form button[type=submit] {
  background: #FFDD00;
  margin-top: 84px;
  max-width: 157px;
  min-height: 32px;
  outline: none;
  -webkit-transform: skew(-9deg);
          transform: skew(-9deg);
  -webkit-transition: background-color 355ms ease-in-out;
  transition: background-color 355ms ease-in-out;
  width: 100%;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form button[type=submit] .inner {
  color: #1D3756;
  display: block;
  font-family: "Lato-Bold", sans-serif;
  font-size: 16px;
  letter-spacing: -0.06px;
  line-height: 19px;
  -webkit-transform: skew(13deg);
          transform: skew(13deg);
  text-transform: uppercase;
  width: 100%;
}
.block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form button[type=submit]:hover {
  background: #C6AF1D;
}

@media (max-width: 767px) {
  .block.contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 77px 0 13px;
    top: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }
  .block.contact:after {
    height: 378px;
    top: 55%;
  }
  .block.contact .status-message .error, .block.contact .status-message .sending .message, .block.contact .status-message .success .message-success {
    font-size: 21px;
    line-height: 28px;
  }
  .block.contact .status-message .sending .load-image, .block.contact .status-message .success .load-image-success {
    max-width: 50px;
  }
  .block.contact .status-message .success .message-success b {
    font-size: 15px;
  }
  .block.contact .element-title-back {
    display: block;
    font-size: 100px;
    left: 0;
    line-height: 137px;
    max-width: none;
    text-align: center;
    top: 5px;
  }
  .block.contact .holder .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -8px;
  }
  .block.contact .holder .content .contact-info {
    width: 100%;
  }
  .block.contact .holder .content .contact-info .inner-contact-info {
    left: 40%;
    margin-top: 52px;
    max-width: 224px;
  }
  .block.contact .holder .content .contact-info .header {
    margin-bottom: 8px;
  }
  .block.contact .holder .content .contact-info .title {
    font-size: 25px;
    letter-spacing: -0.1px;
    line-height: 30px;
  }
  .block.contact .holder .content .contact-info .info-message {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: -6px;
    min-height: 51px;
  }
  .block.contact .holder .content .contact-info .info-message:after {
    display: none !important;
  }
  .block.contact .holder .content .contact-info .wrapper-content-numbers {
    margin-bottom: 3px;
  }
  .block.contact .holder .content .contact-info .office-phone, .block.contact .holder .content .contact-info .mobil-phone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block.contact .holder .content .contact-info .office-phone .icon, .block.contact .holder .content .contact-info .mobil-phone .icon {
    margin-right: 14px;
    max-width: 12px;
  }
  .block.contact .holder .content .contact-info .office-phone .text, .block.contact .holder .content .contact-info .mobil-phone .text {
    font-size: 10px;
    line-height: 21px;
  }
  .block.contact .holder .content .contact-info .wrapper-mobile-btn-call {
    bottom: 9px;
    height: 18px;
    max-width: 80px;
    position: absolute;
    right: -26px;
    -webkit-transform: skew(-14deg);
            transform: skew(-14deg);
    width: 100%;
  }
  .block.contact .holder .content .contact-info .wrapper-mobile-btn-call .inner-mobile-btn-call {
    height: 100%;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
    width: 100%;
  }
  .block.contact .holder .content .contact-info .wrapper-mobile-btn-call .inner-mobile-btn-call a {
    background: #007934;
    color: #fff;
    display: block;
    font-family: "AvenirNext-Medium", sans-serif;
    font-size: 10px;
    height: 100%;
    line-height: 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .block.contact .holder .content .contact-info .wrapper-mobile-btn-call .inner-mobile-btn-call a span {
    display: block;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  .block.contact .holder .content .wrapper-contact-form {
    margin-top: -10px;
    min-height: 212px;
    width: 100%;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form {
    margin: 0 auto;
    max-width: 301px !important;
    -webkit-transform: skew(-7deg);
            transform: skew(-7deg);
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form:after {
    height: 178px;
    left: -10px;
    top: -21px;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form {
    max-width: 225px;
    top: 10px;
    -webkit-transform: none;
            transform: none;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text], .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 4px;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text]::-webkit-input-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea::-webkit-input-placeholder {
    color: #fff !important;
    font-family: "Lato-Medium", sans-serif;
    font-size: 11 px;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text]:-moz-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea:-moz-placeholder {
    color: #fff !important;
    font-family: "Lato-Medium", sans-serif;
    font-size: 11 px !important;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text]::-moz-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea::-moz-placeholder {
    color: #fff !important;
    font-family: "Lato-Medium", sans-serif;
    font-size: 11 px !important;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form input[type=text]:-ms-input-placeholder, .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea:-ms-input-placeholder {
    color: #fff !important;
    font-family: "Lato-Medium", sans-serif;
    font-size: 11 px !important;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form textarea {
    background-image: none;
    height: 30px;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form button[type=submit] {
    margin-top: 52px;
    margin-bottom: 21px;
    max-width: 80px;
    min-height: 18px;
  }
  .block.contact .holder .content .wrapper-contact-form .inner-wrapper-form .inner-wrapper-unbend form button[type=submit] .inner {
    font-size: 11px;
    letter-spacing: -0.04px;
    line-height: 13px;
  }
}
.wrapper-main-return {
  left: 40px;
  max-width: 76px;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 1;
}
.wrapper-main-return .return-main {
  color: #595959;
  display: block;
  font-family: "Lato-Medium", sans-serif;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.wrapper-main-return .return-main span {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
}
.wrapper-main-return .return-main:after {
  content: "<";
  display: block;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.wrapper-img-swipe {
  left: 50%;
  max-width: 87px;
  opacity: 1;
  position: absolute;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 300ms linear, z-index 755ms linear;
  transition: opacity 300ms linear, z-index 755ms linear;
  width: 100%;
  z-index: 1;
}
.wrapper-img-swipe.swipe-hide {
  opacity: 0;
  z-index: -9999;
}

.inner-parent-wrapper {
  padding: 30px 0 57px;
  height: 100%;
  width: 100%;
}

.inner-outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 800vw;
}
.inner-outer-wrapper .cover-page {
  height: 100%;
  position: relative;
  width: 100vw;
  z-index: 0;
}
.inner-outer-wrapper .cover-page:after {
  background: url(../imgs/hexagons-background.svg) no-repeat center;
  background-size: contain;
  content: "";
  display: block;
  height: 100%;
  left: 63%;
  max-height: 600px;
  max-width: 826px;
  position: absolute;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.inner-outer-wrapper .cover-page .holder {
  height: 100%;
  max-width: 1300px;
}
.inner-outer-wrapper .cover-page .wrapper-information-cover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}
.inner-outer-wrapper .cover-page .content-principal-title {
  height: 100%;
  position: relative;
  width: 49%;
}
.inner-outer-wrapper .cover-page .content-principal-title .inner-content-title {
  left: 47%;
  max-width: 495px;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  width: 100%;
}
.inner-outer-wrapper .cover-page .content-principal-title .inner-content-title:after {
  background: url(../imgs/linea1.svg) no-repeat center;
  background-size: contain;
  content: "";
  display: block;
  height: 124px;
  position: absolute;
  right: -39px;
  top: -63px;
  width: 137px;
}
.inner-outer-wrapper .cover-page .content-principal-title .inner-content-title .title-principal {
  color: #1E3755;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 38px;
  line-height: 40px;
  min-height: 41px;
  text-transform: uppercase;
}
.inner-outer-wrapper .cover-page .content-principal-title .inner-content-title .subtitle-principal {
  color: #595959;
  font-family: "Lato-Medium", sans-serif;
  font-size: 30px;
  line-height: 40px;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
}
.inner-outer-wrapper .cover-page .content-principal-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 51%;
}
.inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-text {
  color: #595959;
  font-family: "Lato-Medium", sans-serif;
  font-size: 16px;
  line-height: 26px;
  max-width: 520px;
  min-height: 78px;
  width: 100%;
}
.inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-text b {
  font-family: "Lato-Bold", sans-serif;
}
.inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas {
  z-index: 0;
}
.inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas .inner-image-canvas {
  max-width: 632px;
  width: 100%;
}
.inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas .inner-image-canvas canvas + div {
  display: none !important;
  visibility: hidden !important;
}
.inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas .inner-image-canvas .animation-container {
  height: 100% !important;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 100% !important;
}
.inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas .inner-image-canvas .animation-container .canvas-container {
  height: auto !important;
  width: 100% !important;
}
.inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas .inner-image-canvas .animation-container .canvas-container .container-overlay {
  height: 100% !important;
  width: 100% !important;
}
.inner-outer-wrapper .steps-process {
  height: 100%;
  position: relative;
  width: 100vw;
}
.inner-outer-wrapper .steps-process:after {
  background: url(../imgs/hexagons-background.svg) no-repeat center;
  background-size: cover;
  content: "";
  display: block;
  height: 100%;
  left: 63%;
  max-height: 600px;
  max-width: 827px;
  position: absolute;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.inner-outer-wrapper .steps-process .holder {
  height: 100%;
  max-width: 1300px;
}
.inner-outer-wrapper .steps-process .wrapper-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}
.inner-outer-wrapper .steps-process .wrapper-information-step {
  height: 100%;
  width: 55%;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step:after {
  background: url(../imgs/hexagon-internas.svg) no-repeat center;
  background-size: contain;
  content: "";
  height: 100%;
  left: -33px;
  max-height: 547px;
  max-width: 505px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .title-step {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 264px;
  min-height: 81px;
  position: relative;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .title-step.other {
  margin-left: 75px;
  max-width: 491px;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .inner-title-step {
  color: #1E3755;
  font-family: "Lato-Medium", sans-serif;
  font-size: 35px;
  line-height: 40px;
  margin-left: 59px;
  text-align: center;
  text-transform: uppercase;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .inner-title-step b {
  font-size: 40px;
  font-weight: normal;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .number-step {
  color: #595959;
  font-family: "AvenirNextCondensed-DemiBold", sans-serif;
  font-size: 100px;
  left: -24px;
  line-height: 159px;
  opacity: 0.66;
  position: absolute;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .number-step .inner-step {
  position: relative;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .number-step .inner-step:after {
  background: #007934;
  bottom: 33px;
  content: "";
  display: block;
  height: 4px;
  left: 103%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 34px;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .list-of-step {
  list-style: none;
  margin: 14px 24px 0 auto;
  max-width: 375px;
  padding: 0;
  width: 100%;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .list-of-step li {
  color: #595959;
  font-family: "Lato-Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  list-style: none;
  margin-bottom: 4px;
  position: relative;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .list-of-step li:after {
  background: url(../imgs/dot-list.svg) no-repeat center;
  background-size: cover;
  content: "";
  display: block;
  height: 11px;
  left: -23px;
  position: absolute;
  top: 6px;
  width: 11px;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .list-of-step li:last-child {
  margin-bottom: 0;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .list-of-step > ul > ul li {
  list-style: circle;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .list-of-step > ul > ul li:after {
  content: none;
}
.inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .list-of-step > ul > ul > ul li {
  list-style: none;
}
.inner-outer-wrapper .steps-process .wrapper-animation-step {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 45%;
}
.inner-outer-wrapper .steps-process .wrapper-animation-step .inner-animation-step {
  max-width: 632px;
  width: 100%;
}
.inner-outer-wrapper .steps-process .wrapper-animation-step .inner-animation-step .content-animation {
  height: 100% !important;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 100% !important;
}
.inner-outer-wrapper .steps-process .wrapper-animation-step .inner-animation-step .content-animation canvas + div {
  display: none !important;
  visibility: hidden !important;
}
.inner-outer-wrapper .steps-process .wrapper-animation-step .inner-animation-step .content-animation .content-canvas {
  height: auto !important;
  width: 100% !important;
}
.inner-outer-wrapper .steps-process .wrapper-animation-step .inner-animation-step .content-animation .content-canvas .content-overlay {
  height: 100% !important;
  width: 100% !important;
}

.animation {
  bottom: 80px;
  left: 50px;
  position: absolute;
}

.wrapper-marked {
  bottom: 78px;
  left: 50%;
  position: fixed;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}
.wrapper-marked .inner-wrapper-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper-marked .inner-wrapper-mark .mark-section {
  cursor: pointer;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 60px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.wrapper-marked .inner-wrapper-mark .mark-section .wrapper-arrow-yellow {
  max-width: 12px;
  position: absolute;
  right: 0;
  top: 31%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.wrapper-marked .inner-wrapper-mark .mark-section .mark-figure {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  margin: 0 auto;
  max-width: 31px;
  width: 100%;
}
.wrapper-marked .inner-wrapper-mark .mark-section .mark-figure .inner-mark-figure {
  background: url(../imgs/yellow-mark.svg) no-repeat center;
  background-size: cover;
  height: 21px;
  margin: 0 auto;
  max-width: 19px;
  -webkit-transition: all 355ms ease-in-out;
  transition: all 355ms ease-in-out;
  width: 100%;
}
.wrapper-marked .inner-wrapper-mark .mark-section .mark-name {
  color: #595959;
  font-family: "AvenirNextCondensed-DemiBold", sans-serif;
  font-size: 16px;
  line-height: 15px;
  margin-top: 9px;
  text-align: center;
  -webkit-transition: all 355ms ease-in-out;
  transition: all 355ms ease-in-out;
}
.wrapper-marked .inner-wrapper-mark .mark-section .mark-name b {
  font-family: "AvenirNextCondensed-DemiBold", sans-serif;
}
.wrapper-marked .inner-wrapper-mark .mark-section:after, .wrapper-marked .inner-wrapper-mark .mark-section:before {
  background: #FFDD00;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 31%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: width 355ms ease-in-out;
  transition: width 355ms ease-in-out;
  width: 44%;
}
.wrapper-marked .inner-wrapper-mark .mark-section:before {
  left: 0;
}
.wrapper-marked .inner-wrapper-mark .mark-section:after {
  right: 0;
}
.wrapper-marked .inner-wrapper-mark .mark-section:first-child:before {
  display: none;
}
.wrapper-marked .inner-wrapper-mark .mark-section:last-child .wrapper-arrow-yellow {
  display: none;
}
.wrapper-marked .inner-wrapper-mark .mark-section:last-child:after {
  display: none;
}
.wrapper-marked .inner-wrapper-mark .mark-section.mark-visited .mark-figure .inner-mark-figure {
  background: url(../imgs/green-mark.svg) no-repeat center;
  background-size: cover;
  height: 36px;
  max-width: 31px;
}
.wrapper-marked .inner-wrapper-mark .mark-section.mark-visited .mark-name {
  font-family: "AvenirNextCondensed-Bold";
}
.wrapper-marked .inner-wrapper-mark .mark-section.mark-visited .mark-name b {
  font-family: "AvenirNextCondensed-Bold";
}
.wrapper-marked .inner-wrapper-mark .mark-section.mark-visited:after, .wrapper-marked .inner-wrapper-mark .mark-section.mark-visited:before {
  width: 40%;
}

@media (max-width: 767px) {
  .animation {
    bottom: 125px;
    left: 25px;
    max-width: 80px;
  }
  .animation img {
    width: 100%;
  }

  .wrapper-main-return {
    left: 20px;
    top: 65px;
  }
  .wrapper-main-return .return-main {
    font-size: 13px;
    line-height: 20px;
  }
  .wrapper-main-return .return-main:after {
    left: 8px;
  }

  .inner-parent-wrapper {
    overflow: hidden;
    padding-bottom: 125px;
    position: relative;
  }

  .inner-outer-wrapper .cover-page {
    height: auto;
    max-width: none;
    width: 100vw;
  }
  .inner-outer-wrapper .cover-page:after {
    background-size: cover;
    height: 80%;
    left: 50%;
    width: 80%;
  }
  .inner-outer-wrapper .cover-page .holder {
    max-width: 100%;
  }
  .inner-outer-wrapper .cover-page .wrapper-information-cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inner-outer-wrapper .cover-page .content-principal-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
  }
  .inner-outer-wrapper .cover-page .content-principal-title .inner-content-title {
    left: inherit;
    margin: 30px auto 0;
    max-width: 280px;
    top: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }
  .inner-outer-wrapper .cover-page .content-principal-title .inner-content-title:after {
    height: 56px;
    right: -15px;
    top: -25px;
    width: 80px;
  }
  .inner-outer-wrapper .cover-page .content-principal-title .inner-content-title .title-principal {
    font-size: 19px;
    line-height: 20px;
    min-height: 21px;
    text-align: center;
  }
  .inner-outer-wrapper .cover-page .content-principal-title .inner-content-title .subtitle-principal {
    font-size: 13px;
    line-height: 15px;
    margin: 10px auto;
  }
  .inner-outer-wrapper .cover-page .content-principal-image {
    height: 100%;
    width: 100%;
  }
  .inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-text {
    font-size: 13px;
    line-height: 20px;
    margin: 35px auto 0;
    max-width: 90%;
  }
  .inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas {
    margin-top: 40px;
  }
  .inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas .inner-image-canvas {
    max-width: none;
  }
  .inner-outer-wrapper .steps-process {
    min-height: 640px;
    max-width: none;
    position: relative;
    width: 100vw;
  }
  .inner-outer-wrapper .steps-process:after {
    display: none;
  }
  .inner-outer-wrapper .steps-process .wrapper-step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step {
    height: auto;
    margin-top: 28px;
    width: 100%;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    padding: 10px 25px 0;
    position: inherit;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step:after {
    left: -55px;
    max-height: 336px;
    max-width: 335px;
    top: 29%;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .title-step {
    left: 35%;
    max-width: 136px;
    min-height: 41px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .title-step.other {
    margin-left: 30px;
    max-width: 215px;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .title-step.other .number-step {
    left: -25px;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .inner-title-step {
    font-size: 15px;
    line-height: 20px;
    margin: 0 !important;
    text-align: right;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .inner-title-step b {
    font-size: 20px;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .number-step {
    font-size: 50px !important;
    left: -28px;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step .number-step .inner-step:after {
    bottom: 53px;
    height: 2px;
    left: 86%;
    width: 21px;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step ul.list-of-step {
    margin-top: 18px;
    max-width: 221px;
    position: relative;
    left: 51%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step ul.list-of-step li {
    font-size: 13px;
    line-height: 30px;
    margin-bottom: -1px;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step ul.list-of-step li:after {
    height: 8px;
    left: -15px;
    width: 8px;
  }
  .inner-outer-wrapper .steps-process .wrapper-animation-step {
    width: 100%;
  }
  .inner-outer-wrapper .steps-process .wrapper-animation-step .inner-animation-step {
    margin: 78px auto 0;
    max-width: 231px;
  }

  .wrapper-marked {
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-transform: none;
            transform: none;
    overflow: hidden;
  }
  .wrapper-marked .inner-wrapper-mark {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-transition: -webkit-transform 355ms linear;
    transition: -webkit-transform 355ms linear;
    transition: transform 355ms linear;
    transition: transform 355ms linear, -webkit-transform 355ms linear;
    width: 700px;
  }
  .wrapper-marked .inner-wrapper-mark .mark-section {
    width: 100px;
  }
  .wrapper-marked .inner-wrapper-mark .mark-section .wrapper-arrow-yellow {
    max-width: 7px;
    top: 15%;
  }
  .wrapper-marked .inner-wrapper-mark .mark-section .mark-figure {
    height: 20px;
    max-width: 18px;
  }
  .wrapper-marked .inner-wrapper-mark .mark-section .mark-figure .inner-mark-figure {
    height: 12px;
    max-width: 11px;
  }
  .wrapper-marked .inner-wrapper-mark .mark-section .mark-name {
    font-size: 10px;
    line-height: 15px;
  }
  .wrapper-marked .inner-wrapper-mark .mark-section:after, .wrapper-marked .inner-wrapper-mark .mark-section:before {
    top: 18%;
  }
  .wrapper-marked .inner-wrapper-mark .mark-section.mark-visited .mark-figure .inner-mark-figure {
    height: 20px;
    max-width: 18px;
  }
}
@media (max-width: 600px), (max-height: 700px) {
  .inner-outer-wrapper .cover-page .content-principal-image .inner-content-image {
    height: 100%;
  }
  .inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-text {
    font-size: 15px;
    margin-top: 5px;
  }
  .inner-outer-wrapper .cover-page .content-principal-image .inner-content-image .content-image-canvas .inner-image-canvas {
    margin: 0 auto;
    max-width: 400px;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step ul {
    margin: -10px 24px 0 auto;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step ul li {
    font-size: 13px;
    margin-top: -5px;
  }
  .inner-outer-wrapper .steps-process .wrapper-information-step .inner-information-step:after {
    left: 34%;
    max-width: 307px;
    top: 43%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .inner-outer-wrapper .steps-process .wrapper-animation-step {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inner-outer-wrapper .steps-process .wrapper-animation-step .inner-animation-step {
    max-width: 400px;
  }

  .wrapper-marked {
    bottom: 80px;
  }
  .wrapper-marked .inner-wrapper-mark .mark-section .mark-name {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .wrapper-marked {
    bottom: 30px;
  }
}
.loader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  -webkit-transition: opacity 355ms ease-in-out, z-index 355ms ease-in-out;
  transition: opacity 355ms ease-in-out, z-index 355ms ease-in-out;
  width: 100%;
  z-index: 999999;
}
.loader .wrapper-loader .content-loader {
  height: 100% !important;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 100% !important;
}
.loader .wrapper-loader .content-loader .canvas-loader {
  height: auto !important;
  width: 100% !important;
}
.loader .wrapper-loader .content-loader .canvas-loader .overlay-loader {
  height: 100% !important;
  width: 100% !important;
}
.loader.lo-hide {
  opacity: 0;
  z-index: -999999;
}

/* Base PL*/
/* Override Holder */
.contact {
  /* Block Contact - Contact Info */
  /* Block Contact - Contact Form */
}
.contact .contact-info {
  margin-bottom: 35px;
}
.contact .contact-form {
  min-height: 150px;
}
.contact .contact-form ::-webkit-input-placeholder {
  color: #999;
}
.contact .contact-form ::-moz-placeholder {
  color: #999;
}
.contact .contact-form :-ms-input-placeholder {
  color: #999;
}
.contact .contact-form :-moz-placeholder {
  color: #999;
}
.contact .contact-form input[type=text], .contact .contact-form textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #dcdcdc;
  border-radius: 0;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}
.contact .contact-form textarea {
  height: 125px;
  resize: none;
}
.contact .contact-form button[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #dcdcdc;
  border: none;
  border-radius: 0;
  color: #666;
  cursor: pointer;
  display: block;
  margin-left: auto;
  max-width: 180px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
.contact > .holder {
  max-width: 680px;
}

.status-message {
  background: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.status-message .sending, .status-message .success {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.status-message .error, .status-message .sending .message, .status-message .success .message-success {
  color: #fff;
  font-family: "Lato-Medium", sans-serif;
  font-size: 12px;
  letter-spacing: 2.24px;
}
.status-message .error {
  left: 50%;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.status-message .sending .load-image {
  max-width: 35px;
  width: 100%;
}
.status-message .sending .message {
  padding-top: 12px;
  text-align: center;
  width: 100%;
}
.status-message .success .load-image-success {
  max-width: 30px;
  width: 100%;
}
.status-message .success .message-success {
  margin-top: 10px;
  padding-top: 12px;
  text-align: center;
}
.slide-process {
  opacity: 0;
  -webkit-transform: translateX(5em);
          transform: translateX(5em);
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  transition: transform 2s, opacity 2s;
  transition: transform 2s, opacity 2s, -webkit-transform 2s;
  -webkit-transition-delay: 185ms;
          transition-delay: 185ms;
}

.partial {
  opacity: 0;
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
  -webkit-transition: opacity 750ms, -webkit-transform 750ms;
  transition: opacity 750ms, -webkit-transform 750ms;
  transition: transform 750ms, opacity 750ms;
  transition: transform 750ms, opacity 750ms, -webkit-transform 750ms;
  -webkit-transition-delay: 185ms;
          transition-delay: 185ms;
}

.displayed {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.viewed {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(0);
          transform: translateY(0) translateX(0);
}
.pl-modal-overlay.pl-modal-open {
  z-index: 9;
}

.pl-modal {
  max-width: 680px;
  width: 100% !important;
  z-index: 10;
}

.pl-modal-close-button {
  background: url(../imgs/close-button-modal.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
  height: 15px;
  position: relative;
  width: 15px;
  z-index: 10;
}

.inner-mobil-carrousel-tracing .util-carrousel .prev-button, .inner-mobil-carrousel-tracing .util-carrousel .next-button {
  background: url(../imgs/right-arrow-white.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin: 0;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
}
.inner-mobil-carrousel-tracing .util-carrousel .next-button {
  margin-right: 10px;
  right: -15px;
}
.inner-mobil-carrousel-tracing .util-carrousel .prev-button {
  left: -15px;
  margin-left: 10px;
  top: 49%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper {
  width: 100%;
}
.inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content {
  min-height: 430px;
  position: relative;
  width: 100%;
}
.inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-img img {
  display: block;
}
.inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text {
  background: rgba(59, 58, 53, 0.9);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text .inner-thumb-text {
  min-height: 58px;
  position: relative;
}
.inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text .inner-thumb-text .text-thumb {
  color: #fff;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  left: 50%;
  line-height: 16px;
  max-width: 655px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

@media (max-width: 767px) {
  .pl-modal-close-button {
    height: 15px;
    margin-bottom: 5px;
    margin-right: 0;
    right: 30px;
    top: 30px;
    width: 15px;
  }

  .pl-modal {
    max-width: 500px !important;
  }

  .inner-mobil-carrousel-tracing .util-carrousel .prev-button {
    left: 4px;
  }
  .inner-mobil-carrousel-tracing .util-carrousel .next-button {
    right: 3px;
  }
  .inner-mobil-carrousel-tracing .util-carrousel .prev-button, .inner-mobil-carrousel-tracing .util-carrousel .next-button {
    height: 20px;
    width: 20px;
  }
  .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content {
    min-height: 260px;
  }
  .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text {
    background: transparent;
  }
  .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text .inner-thumb-text .text-thumb {
    font-size: 10px;
    line-height: 15px;
    text-align: center;
  }
}
.wrapper-mobil-carrousel .util-carrousel .carrousel-wrapper {
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
}
.wrapper-mobil-carrousel .util-carrousel .thumbs-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper-mobil-carrousel .util-carrousel .thumb {
  float: left;
  font-family: "Arial", sans-serif;
  min-width: 600px;
}
.wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
}
.wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content .thumb-img img {
  width: 100%;
}
.wrapper-mobil-carrousel .util-carrousel .thumb .image {
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
}
.wrapper-mobil-carrousel .util-carrousel .thumb .image .inner-image {
  padding-bottom: 100%;
  position: relative;
}
.wrapper-mobil-carrousel .util-carrousel .thumb .image img {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wrapper-mobil-carrousel .util-carrousel .thumb .title {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 15px;
  text-align: center;
}
.wrapper-mobil-carrousel .util-carrousel .thumb .description {
  margin-bottom: 15px;
  text-align: justify;
}
.wrapper-mobil-carrousel .util-carrousel .thumb .button {
  background-color: #128aff;
  border-radius: 0.2em;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 767px) {
  .wrapper-mobil-carrousel .util-carrousel .carrousel-wrapper {
    max-width: 400px;
  }
  .wrapper-mobil-carrousel .util-carrousel .thumb {
    min-width: 400px;
  }
  .wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content {
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .wrapper-mobil-carrousel .util-carrousel .carrousel-wrapper {
    max-width: 300px;
  }
  .wrapper-mobil-carrousel .util-carrousel .thumb {
    min-width: 300px;
  }
  .wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content {
    max-width: 300px;
  }
}
@media (max-width: 380px) {
  .wrapper-mobil-carrousel .util-carrousel .carrousel-wrapper {
    max-width: 200px;
  }
  .wrapper-mobil-carrousel .util-carrousel .thumb {
    min-width: 200px;
  }
  .wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content {
    max-width: 200px;
  }
}
/*
  Modal Styles
 */
.pl-modal-overlay {
  background: transparent;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: background-color 375ms;
  transition: background-color 375ms;
}
.pl-modal-overlay.pl-modal-open {
  background: rgba(0, 0, 0, 0.65);
}

.pl-modal {
  background: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
}
.pl-modal.pl-modal-open {
  visibility: visible;
}

/**
  Modal Animations
 */
.pl-modal .pl-modal-content {
  opacity: 0;
  -webkit-transition: opacity 375ms;
  transition: opacity 375ms;
}
.pl-modal .pl-modal-content.pl-modal-open .pl-modal-content {
  opacity: 1;
}

/* Effect 1: Fade in and scale up */
.pl-modal.pl-effect-1 .pl-modal-content {
  opacity: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: opacity 375ms, -webkit-transform 375ms;
  transition: opacity 375ms, -webkit-transform 375ms;
  transition: opacity 375ms, transform 375ms;
  transition: opacity 375ms, transform 375ms, -webkit-transform 375ms;
}
.pl-modal.pl-effect-1.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* Effect 2: Slide from the right */
.pl-modal.pl-effect-2 .pl-modal-content {
  opacity: 0;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.pl-modal.pl-effect-2.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* Effect 3: Slide from the bottom */
.pl-modal.pl-effect-3 .pl-modal-content {
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pl-modal.pl-effect-3.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Effect 4: Newspaper */
.pl-modal.pl-effect-4 .pl-modal-content {
  opacity: 0;
  -webkit-transform: scale(0) rotate(720deg);
          transform: scale(0) rotate(720deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pl-modal.pl-effect-4.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}

/* Effect 5: Fall */
.pl-modal.pl-effect-5 {
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.pl-modal.pl-effect-5 .pl-modal-content {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(600px) rotateX(20deg);
          transform: translateZ(600px) rotateX(20deg);
}
.pl-modal.pl-effect-5.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: translateZ(0px) rotateX(0deg);
          transform: translateZ(0px) rotateX(0deg);
}

/* Effect 6: Side fall */
.pl-modal.pl-effect-6 {
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.pl-modal.pl-effect-6 .pl-modal-content {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
          transform: translate(30%) translateZ(600px) rotate(10deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.pl-modal.pl-effect-6.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
          transform: translate(0%) translateZ(0) rotate(0deg);
}

/* Effect 7: Slide and stick to top */
.pl-modal.pl-effect-7 {
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.pl-modal.pl-effect-7 .pl-modal-content {
  border-radius: 0 0 3px 3px;
  opacity: 0;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pl-modal.pl-effect-7.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* Effect 8: 3D flip horizontal */
.pl-modal.pl-effect-8 {
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.pl-modal.pl-effect-8 .pl-modal-content {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
          transform: rotateY(-70deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pl-modal.pl-effect-8.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

/* Effect 9: 3D flip vertical */
.pl-modal.pl-effect-9 {
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.pl-modal.pl-effect-9 .pl-modal-content {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
          transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pl-modal.pl-effect-9.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

/* Effect 10: 3D sign */
.pl-modal.pl-effect-10 {
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.pl-modal.pl-effect-10 .pl-modal-content {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-60deg);
          transform: rotateX(-60deg);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pl-modal.pl-effect-10.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

/* Effect 11: Super scaled */
.pl-modal.pl-effect-11 .pl-modal-content {
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pl-modal.pl-effect-11.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* Effect 12: 3D Rotate from bottom */
.pl-modal.pl-effect-12 {
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.pl-modal.pl-effect-12 .pl-modal-content {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateY(100%) rotateX(90deg);
          transform: translateY(100%) rotateX(90deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.pl-modal.pl-effect-12.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0%) rotateX(0deg);
          transform: translateY(0%) rotateX(0deg);
}

/* Effect 13: 3D Rotate in from left */
.pl-modal.pl-effect-13 {
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.pl-modal.pl-effect-13 .pl-modal-content {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
          transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pl-modal.pl-effect-13.pl-modal-open .pl-modal-content {
  opacity: 1;
  -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
          transform: translateZ(0px) translateX(0%) rotateY(0deg);
}

@media (max-width: 767px) {
  .pl-modal {
    max-width: 500px;
    width: 90%;
  }
}