/* Override Holder */
.contact {
  /* Block Contact - Contact Info */
  .contact-info {
    margin-bottom: 35px;
  }
  /* Block Contact - Contact Form */
  .contact-form {
    min-height: 150px;
    ::-webkit-input-placeholder {
      color: #999;
    }
    ::-moz-placeholder {
      color: #999;
    }
    :-ms-input-placeholder {
      color: #999;
    }
    :-moz-placeholder {
      color: #999;
    }
    input[type=text], textarea {
      appearance: none;
      border: 1px solid #dcdcdc;
      border-radius: 0;
      display: block;
      margin-bottom: 10px;
      padding: 5px;
      width: 100%;
    }
    textarea {
      height: 125px;
      resize: none;
    }
    button[type=submit] {
      appearance: none;
      background-color: #dcdcdc;
      border: none;
      border-radius: 0;
      color: #666;
      cursor: pointer;
      display: block;
      margin-left: auto;
      max-width: 180px;
      padding: 5px;
      text-align: center;
      width: 100%;
    }
  }
  & > .holder {
    max-width: 680px;
  }
}
