@mixin placeholder($color,$size) {
  &::-webkit-input-placeholder {
    color: $color !important;
    font-family: 'Lato-Medium',sans-serif;
    font-size: $size px;
  }
  &:-moz-placeholder {
    color: $color !important;
    font-family: 'Lato-Medium',sans-serif;
    font-size: $size px !important;
  }
  &::-moz-placeholder {
    color: $color !important;
    font-family: 'Lato-Medium',sans-serif;
    font-size: $size px !important;
  }
  &:-ms-input-placeholder {
    color: $color !important;
    font-family: 'Lato-Medium',sans-serif;
    font-size: $size px !important;
  }
}