.status-message {
  background: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  .sending, .success {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .error, .sending .message, .success .message-success {
    color: #fff;
    font-family: 'Lato-Medium',sans-serif;
    font-size: 12px;
    letter-spacing: 2.24px;
  }

  .error {
    left: 50%;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .sending {

    .load-image {
      max-width: 35px;
      width: 100%;
    }

    .message {
      padding-top: 12px;
      text-align: center;
      width: 100%;
    }
  }
  .success {

    .load-image-success {
      max-width: 30px;
      width: 100%;
    }
    .message-success {
      margin-top: 10px;
      padding-top: 12px;
      text-align: center;
    }
  }
}