.slide-process {
  opacity: 0;
  transform: translateX(5em);
  transition: transform 2s, opacity 2s;
  transition-delay: 185ms;
}

.partial{
  opacity: 0;
  transform: translateY(2em);
  transition: transform 750ms,opacity 750ms;
  transition-delay: 185ms;
}

.displayed {
  opacity: 1;
  transform: translateY(0);
}

.viewed {
  opacity: 1;
  transform: translateY(0) translateX(0);
}