//fonts
@font-face {
  font-family: "AvenirNextCondensed-DemiBold";
  src: url("../fonts/AvenirNextCondensed-DemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextCondensed-DemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/AvenirNextCondensed-DemiBold.otf") format("opentype"), /* Open Type Font */
  url("../fonts/AvenirNextCondensed-DemiBold.svg") format("svg"), /* Legacy iOS */
  url("../fonts/AvenirNextCondensed-DemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/AvenirNextCondensed-DemiBold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/AvenirNextCondensed-DemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextCondensed-Bold";
  src: url("../fonts/AvenirNextLTPro-BoldCn.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-BoldCn.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/AvenirNextLTPro-BoldCn.otf") format("opentype"), /* Open Type Font */
  url("../fonts/AvenirNextLTPro-BoldCn.svg") format("svg"), /* Legacy iOS */
  url("../fonts/AvenirNextLTPro-BoldCn.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/AvenirNextLTPro-BoldCn.woff") format("woff"), /* Modern Browsers */
  url("../fonts/AvenirNextLTPro-BoldCn.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Lato-Bold.otf") format("opentype"), /* Open Type Font */
  url("../fonts/Lato-Bold.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Lato-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/Lato-Bold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Lato-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Lato-Medium.otf") format("opentype"), /* Open Type Font */
  url("../fonts/Lato-Medium.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Lato-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/Lato-Medium.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Lato-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato-Heavy.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Lato-Heavy.otf") format("opentype"), /* Open Type Font */
  url("../fonts/Lato-Heavy.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Lato-Heavy.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/Lato-Heavy.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Lato-Heavy.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Lato-Regular.otf") format("opentype"), /* Open Type Font */
  url("../fonts/Lato-Regular.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Lato-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/Lato-Regular.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Lato-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Semibold";
  src: url("../fonts/Lato-Semibold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Lato-Semibold.otf") format("opentype"), /* Open Type Font */
  url("../fonts/Lato-Semibold.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Lato-Semibold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/Lato-Semibold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Lato-Semibold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-MediumCnIt";
  src: url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.otf") format("opentype"), /* Open Type Font */
  url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Avenir-Next-LT-Pro-Medium-Condensed-Italic5192.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
body.no-scroll,html.no-scroll {
  height: 100vh;
  overflow: hidden;
  position: fixed;
}
.holder {
  margin: 0 auto;
  max-width: 1090px;
  width: 100%;
}
.align-top,
.align-middle,
.align-bottom {
  display: inline-block;
  float: none;
  margin-left: -2px;
  margin-right: -2px;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.table-layout {
  display: table;
  width: 100%;
}
.table-cell-layout {
  display: table-cell;
}
/* Outer wrapper */
.outer-wrapper {
  margin-top: 60px;
  width: 100vw;
}

#embed-target {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

@media (max-height: 750px) {
  .outer-wrapper{
    height: auto;
  }
}
@media (min-height: 750px) and (max-width: 767px){
  .outer-wrapper{
    height: calc(100vh - 61px);
  }
}
@media (min-width: 767px) {
  .outer-wrapper {
    height: calc(100vh - 151px);
    margin-top: 81px;
    position: relative;
  }
}

@media (min-width: 767px) and (max-height: 700px) {
  .outer-wrapper{
    margin-top: 70px;
  }
}
/* Block */
.block {
  padding: 65px 0;
}
.block .header {
  margin-bottom: 35px;
}
.block .header .title {
  margin-top: 0;
  text-align: center;
}
/*
    Document   : contact.styl
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/
/* Override Holder */
.contact > .holder {
  max-width: 680px;
}
.contact .contact-info {
  margin-bottom: 35px;
}
.contact .contact-form {
  min-height: 150px;
/* Chrome/Opera/Safari */
/* Firefox 19+ */
/* IE 10+ */
/* Firefox 18- */
}
.contact .contact-form ::-webkit-input-placeholder {
  color: #999;
}
.contact .contact-form ::-moz-placeholder {
  color: #999;
}
.contact .contact-form :-ms-input-placeholder {
  color: #999;
}
.contact .contact-form :-moz-placeholder {
  color: #999;
}
.contact .contact-form input[type=text],
.contact .contact-form textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #dcdcdc;
  border-radius: 0;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}
.contact .contact-form textarea {
  height: 125px;
  resize: none;
}
.contact .contact-form input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #dcdcdc;
  border: none;
  border-radius: 0;
  color: #666;
  cursor: pointer;
  display: block;
  margin-left: auto;
  max-width: 180px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/*
    Document   : footer.styl
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/
.footer {
  background-color: #f1f1f1;
  color: #9a9a9a;
  font-size: 11px;
  padding: 15px 0;
}
.footer .goplek-logo {
  display: block;
  margin-left: auto;
  width: 50px;
}

@import "elements/loader";

@import "layout/_navigation";
@import "layout/_footer";

/* sections */
@import "sections/_cover";
@import "sections/benefits";
@import "sections/payment";
@import "sections/_contact-custom";
@import "sections/_process-presentation";
@import "sections/_loader";

/* Base PL*/
@import "baseElements/_contact";
@import "baseElements/_states-contact";