.benefits{
  height: calc(100vh - 151px);
  .holder{
    max-width: 1300px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    .container-fluid{
      .header{
        margin: 0 auto;
        margin-bottom: 62px;
        max-width: 612px;
        .title{
          color: #1D3756;
          font-family: 'Lato-Bold';
          font-size: 25px;
          text-transform: uppercase;
        }
        .intro{
          color: #595959;
          font-family: 'Lato-Medium';
          font-size: 15px;
          margin-top: 26px;
          text-align: center;
        }
      }
      .content{
        align-items: flex-start;
        display: flex;
        justify-content: space-around;
        .item{
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          &:after{
            background: #AFAFAF;
            content: '';
            display: block;
            height: 115px;
            right: -15%;
            opacity: 0.29;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 2px;
          }
          &:last-child{
            &:after{
              content: none;
            }
          }
          .title{
            align-items: center;
            color: #1D3756;
            display: flex;
            font-family: 'Lato-SemiBold';
            font-size: 15px;
            height: 36px;
            justify-content: center;
            line-height: 1;
            margin-bottom: 14px;
            margin-top: 18px;
            max-width: 154px;
            text-align: center;
            text-transform: uppercase;
          }
          .desc{
            color: #888888;
            font-family: 'Lato-Medium';
            font-size: 15px;
            max-width: 190px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 600px), (max-height: 700px) {
  .benefits{
    padding-top: 0;
    .holder {
      .container-fluid {
        .header {
          margin-bottom: 20px;
          .intro{
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .benefits{
    .holder{
      .container-fluid{
        .content{
          .item{
            padding: 0 16px;
            &:after{
              right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .benefits{
    height: auto;
    padding: 28px;
    .holder{
      height: 100vh !important;
      overflow: scroll;
      top: initial;
      transform: none;
      .container-fluid{
        .header{
          margin-bottom: 0;
          .intro{
            font-size: 13px;
            margin-top: 16px;
          }
        }
        .content{
          align-items: center;
          flex-direction: column;
          .item{
            padding: 36px 0;
            &:after{
              bottom: 0;
              height: 2px;
              right: initial;
              top: initial;
              width: 105px;
            }
            &:last-child{
              padding-bottom: 0;
            }
            .desc{
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .benefits{
    .holder{
      .container-fluid{
        .header{
          max-width: 266px;
        }
      }
    }
  }
}