@import '../baseElements/mixin-validate';

.block.contact {
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  &:after {
    background: #61758B;
    content: '';
    display: block;
    height: 388px;
    left: 0;
    opacity: .07;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
  }
  .element-title-back {
    color: #595959;
    display: none;
    font-family: 'AvenirNextCondensed-DemiBold', sans-serif;
    font-size: 250px;
    left: -48px;
    line-height: 341px;
    max-width: 993px;
    opacity: .02;
    position: absolute;
    text-transform: uppercase;
    top: -67px;
    width: 100%;
    z-index: -1;
  }
  .status-message {
    background: #fff !important;
    .error, .sending .message, .success .message-success {
      color: #595959;
      font-family: 'Lato-Medium', sans-serif;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: normal;
    }
    .sending .load-image, .success .load-image-success {
      max-width: 118px;
    }
    .success .message-success {
      b {
        font-family: 'Lato-SemiBold', sans-serif;
        font-size: 20px;
      }
    }
  }
  .holder {
    max-width: 1300px !important;
    .content {
      display: flex;
      position: relative;
      .contact-info {
        width: 45%;
        .inner-contact-info {
          left: 49%;
          margin-top: 96px;
          max-width: 332px;
          position: relative;
          transform: translateX(-50%);
          width: 100%;
        }
        .header {
          margin-bottom: 22px;
        }
        .title {
          color: #1D3756;
          font-family: 'Lato-Bold', sans-serif;
          font-size: 28px;
          letter-spacing: -0.11px;
          line-height: 34px;
          margin-bottom: 0;
          text-align: left;
          text-transform: uppercase;
        }
        .info-message {
          color: #404040;
          font-family: 'Lato-Medium', sans-serif;
          font-size: 15px;
          line-height: 18px;
          margin-bottom: 43px;
          max-width: 297px;
          min-height: 58px;
          position: relative;
          width: 100%;
          &:after {
            background: url(../imgs/green-arrow.svg) center no-repeat;
            background-size: cover;
            content: '';
            display: block;
            height: 17px;
            position: absolute;
            right: -51px;
            top: 6px;
            width: 8px;
          }
        }
        .wrapper-content-numbers {
          position: relative;
        }
        .office-phone, .mobil-phone {
          color: #595959;
          display: flex;
          text-decoration: none;
          width: 100%;
          .icon {
            display: block;
            margin-right: 20px;
            max-width: 23px;
            width: 100%;
          }
          .text {
            font-family: 'AvenirNext-Medium', sans-serif;
            font-size: 20px;
            line-height: 37px;
          }
        }
      }
      .wrapper-contact-form {
        margin-top: -20px;
        min-height: 440px;
        position: relative;
        width: 55%;
        .inner-wrapper-form {
          background: #007934;
          height: 100%;
          margin: 0 auto;
          max-width: 92%;
          padding: 0 45px;
          position: relative;
          transform: skew(-9deg);
          width: 100%;
          &:after {
            background: #007934;
            content: '';
            display: block;
            height: 367px;
            left: -19px;
            opacity: .13;
            position: absolute;
            transform: skew(-1deg);
            top: -39px;
            width: 4px;
          }
          .inner-wrapper-unbend {
            height: 100%;
            transform: skew(-2deg);
            form {
              margin: 0 auto;
              max-width: 475px;
              position: relative;
              top: 52%;
              transform: translateY(-50%);
              width: 100%;
              .wrapper-content-form {
                opacity: 1;
                transition: opacity 375ms ease-in-out;
                &.partial-hide {
                  opacity: 0;
                }
              }
              span {
                display: none;
              }
              input[type=text], textarea {
                background: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                color: #fff;
                font-family: 'Lato-Bold', sans-serif;
                font-size: 15px;
                line-height: 18px;
                @include placeholder(#fff, 15);
                margin-bottom: 25px;
                transform: skew(4deg);
                outline: none;
                &.invalid {
                  @include placeholder(#F21313, 15);
                  border-bottom: 1px solid #F21313;
                }
              }
              textarea {
                height: 80px;
                line-height: 29px;
              }
              button[type=submit] {
                background: #FFDD00;
                margin-top: 84px;
                max-width: 157px;
                min-height: 32px;
                outline: none;
                transform: skew(-9deg);
                transition: background-color 355ms ease-in-out;
                width: 100%;
                .inner {
                  color: #1D3756;
                  display: block;
                  font-family: 'Lato-Bold', sans-serif;
                  font-size: 16px;
                  letter-spacing: -0.06px;
                  line-height: 19px;
                  transform: skew(13deg);
                  text-transform: uppercase;
                  width: 100%;
                }
                &:hover {
                  background: #C6AF1D;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .block.contact {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 77px 0 13px;
    top: inherit;
    transform: inherit;
    &:after {
      height: 378px;
      top: 55%;
    }
    .status-message {
      .error, .sending .message, .success .message-success {
        font-size: 21px;
        line-height: 28px;
      }
      .sending .load-image, .success .load-image-success {
        max-width: 50px;
      }
      .success .message-success {
        b {
          font-size: 15px;
        }
      }
    }
    .element-title-back {
      display: block;
      font-size: 100px;
      left: 0;
      line-height: 137px;
      max-width: none;
      text-align: center;
      top: 5px;
    }
    .holder {
      .content {
        flex-direction: column;
        margin-top: -8px;
        .contact-info {
          width: 100%;
          .inner-contact-info {
            left: 40%;
            margin-top: 52px;
            max-width: 224px;
          }
          .header {
            margin-bottom: 8px;
          }
          .title {
            font-size: 25px;
            letter-spacing: -0.1px;
            line-height: 30px;
          }
          .info-message {
            font-size: 11px;
            line-height: 14px;
            margin-bottom: -6px;
            min-height: 51px;
            &:after {
              display: none !important;
            }
          }
          .wrapper-content-numbers {
            margin-bottom: 3px;
          }
          .office-phone, .mobil-phone {
            align-items: center;
            .icon {
              margin-right: 14px;
              max-width: 12px;
            }
            .text {
              font-size: 10px;
              line-height: 21px;
            }
          }
          .wrapper-mobile-btn-call{
            bottom: 9px;
            height: 18px;
            max-width: 80px;
            position: absolute;
            right: -26px;
            transform: skew(-14deg);
            width: 100%;
            .inner-mobile-btn-call{
              height: 100%;
              transform: skew(0deg);
              width: 100%;
              a{
                background: #007934;
                color: #fff;
                display: block;
                font-family: 'AvenirNext-Medium',sans-serif;
                font-size: 10px;
                height: 100%;
                line-height: 21px;
                position: relative;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;
                span{
                  display: block;
                  left: 0;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 100%;
                }
              }
            }
          }
        }
        .wrapper-contact-form {
          margin-top: -10px;
          min-height: 212px;
          width: 100%;
          .inner-wrapper-form {
            margin: 0 auto;
            max-width: 301px !important;
            transform: skew(-7deg);
            &:after {
              height: 178px;
              left: -10px;
              top: -21px;
            }
            .inner-wrapper-unbend {
              form {
                max-width: 225px;

                top: 10px;
                transform: none;
                input[type=text], textarea {
                  font-size: 11px;
                  line-height: 15px;
                  @include placeholder(#fff, 11);
                  margin-bottom: 4px;
                }
                textarea {
                  background-image: none;
                  height: 30px;
                }
                button[type=submit] {
                  margin-top: 52px;
                  margin-bottom: 21px;
                  max-width: 80px;
                  min-height: 18px;
                  .inner {
                    font-size: 11px;
                    letter-spacing: -0.04px;
                    line-height: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
