/*
    Document   : _cover.scss
    Created on : 19/02/2019, 04:043:15 PM
    Author     : cesarmejia
    Description:
*/
.block.cover {
  height: 100%;
  padding: 32px 0 93px;
  .holder {
    height: 100%;
  }
  .wrapper-information-cover {
    position: relative;
    top: inherit;
    transform: inherit;
  }
  .wrapper-text-cover {
    color: #1E3755;
    font-family: 'Lato-Medium', sans-serif;
    font-size: 13px;
    left: 43%;
    line-height: 16px;
    max-width: 236px;
    min-height: 51px;
    position: relative;
    transform: translateX(-50%);
    width: 100%;
  }
  .wrapper-services-cover {
    margin: 34px auto 0;
    max-width: 77%;
    width: 100%;
    .inner-services-cover {
      background: url(../imgs/hexagono.svg) no-repeat center;
      background-size: contain;
      color: #595959;
      display: block;
      height: 152px;
      max-width: 128px;
      position: relative;
      text-decoration: none;
      width: 100%;
      .service-content {
        font-family: 'Lato-Heavy', sans-serif;
        font-size: 13px;
        left: 50%;
        line-height: 16px;
        min-height: 33px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: uppercase;
        transition: font-size 355ms ease-in-out, color 355ms ease-in-out;
        width: 89%;
        b {
          font-size: 13px;
        }
      }
      &:first-child {
        margin-left: auto;
      }
      &:nth-child(2n) {
        background: url(../imgs/hexagono.svg) no-repeat center;
        background-size: contain;
        margin: -24px auto 0;
      }
      &:first-child, &:last-child {
        margin-top: -24px;
      }
      &:hover {
        color: #595959;
        .service-content {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }
  .wrapper-animation-cover {
    bottom: inherit;
    margin-top: -43px;
    overflow: hidden;
    position: absolute;
    right: inherit;
    width: 100%;
    z-index: -1;
    .inner-animation-cover {
      margin-left: auto;
      margin-right: 8px;
      max-width: 289px;
      width: 100%;
      .content-container-cover {
        height: 100% !important;
        left: 0;
        margin: 0 auto;
        right: 0;
        width: 100% !important;
        .content-canvas-cover {
          height: auto !important;
          width: 100% !important;
          .content-overlay-cover {
            height: 100% !important;
            width: 100% !important;
          }
        }
      }
    }
  }

}


@media (min-width: 767px) and (max-height: 700px) {
  .block.cover{
    .wrapper-text-cover{
      position: absolute;
    }
  }
}

@media (min-width: 867px) {
  .block.cover {
    height: 100%;
    min-height: 640px;
    overflow: hidden;
    padding: 11px 0 0;
    position: relative;
    &:after {
      background: url(../imgs/part-hexagon.svg) no-repeat center;
      background-size: cover;
      bottom: 0;
      content: '';
      display: block;
      height: 163px;
      left: 55.5%;
      opacity: .17;
      position: absolute;
      transform: translateX(-50%);
      width: 171px;
    }
    .holder {
      height: 100%;
      max-width: 1189px;
      position: relative;
    }
    .wrapper-information-cover {
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      width: 100%;
    }
    .wrapper-text-cover {
      font-size: 25px;
      line-height: 33px;
      left: inherit;
      margin: 0 0 0 10px;
      max-width: 650px;
      min-width: 61px;
      transform: inherit;
    }
    .wrapper-services-cover {
      display: flex;
      margin: 61px auto 0;
      max-width: none;
      .inner-services-cover {
        max-width: 312px;
        padding-bottom: 31%;
        position: relative;
        .service-content {
          font-size: 26px;
          line-height: 40px;
          max-width: 80%;
          width: 100%;
          b {
            font-size: 27px;
          }
        }
        &:after, &:before {
          background: url(../imgs/hexagon-part.svg) no-repeat center;
          background-size: cover;
          content: '';
          display: block;
          position: absolute;
          width: 171px;
        }
        &:first-child {
          margin: 62px auto 0;
          &:after, &:before {
            height: 320px;
          }
          &:after {
            left: -38px;
            top: -51px;
            transform: rotate(180deg);
          }
          &:before {
            bottom: -34px;
            right: -48px;
          }
        }
        &:nth-child(2n) {
          margin: -23px auto 0;
        }
        &:last-child {
          margin: -112px auto 0;
          &:after {
            height: 163px;
            right: -53px;
            top: 18px;
            transform: rotate(304deg);
          }
        }
        &:hover {
          color: #919090;
          .service-content {
            font-size: 32px;
            line-height: 40px;
          }
        }
      }
    }
    .wrapper-animation-cover {
      bottom: -83px;
      overflow: visible;
      position: absolute;
      right: 0;
      .inner-animation-cover {
        margin-right: -78px;
        max-width: 573px;
      }
    }
  }
}