.gallery {
  background: #F2F2F2;
  padding-top: 94px !important;
  .holder{
    max-width: 1300px;
  }
  .header {
    .title {
      color: #1D3756;
      font-family: 'Lato-Bold';
      font-size: 37px;
      text-transform: uppercase;
    }
  }
  .row1, .row2{
    display: flex;
  }
  .wpr1{
    display: flex;
    width: 54%;
  }
  .wpr2{
    width: 46%;
  }
  .wpr3{
    display: flex;
    width: 54%;
  }
  .wpr4{
    display: flex;
    width: 46%;
  }
  .layout{
    cursor: pointer;
    display: block;
    width: 100%;
    .image-1{
      width: 67%;
    }
    .image-2{
      width: 33%;
    }
    .image-3{
      width: 100%;
    }
    .image-4{
      width: 33%;
    }
    .image-5{
      width: 67%;
    }
    .image-6{
      width: 50%;
    }
    .image-7{
      width: 50%;
    }
    .image{
      overflow: hidden;
      padding: 2.5px;
      position: relative;
    }
      .btn-open-mobil-modal-index{
        display: block;
        height: 100%;
        position: relative;
        &:after{
          content: '';
          display: block;
          padding-bottom: 77%;
        }
        img{
          height: 100%;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          width: 100%;
        }
        & > img:nth-child(2){
          display: none;
        }
        .overlay{
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: opacity 550ms;
          width: 100%;
          img{
            height: 57px;
            left: 50%;
            position: relative;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 57px;
          }
          &:hover{
            background-image: url(../imgs/open-arrows.png);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #ffffff;
            opacity: 0.6;
          }
        }
    }
  }
}

@media (max-width: 1000px) {
  .gallery {
    padding-top: 29px !important;
  }
}

@media (max-width: 800px) {
  .gallery {
    .header {
      .title {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 480px){
  .gallery{
    .wpr1, .wpr2, .wpr3, .wpr4{
      width: 100%;
    }
    .row1, .row2{
      flex-direction: column;
    }
    .layout{
      .btn-open-mobil-modal-index{
        .overlay{
          display: none;
          &:hover{
            background-image: none;
            background-color: inherit;
            opacity: inherit;
          }
        }
      }
      .wpr4{
        .btn-open-mobil-modal-index{
          &:after{
            padding-bottom: 120% !important;
          }
        }
      }
    }
  }
}