.loader {
  align-items: center;
  background: #fff;
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 355ms ease-in-out, z-index 355ms ease-in-out;
  width: 100%;
  z-index: 999999;
  .wrapper-loader {
    .content-loader {
      height: 100% !important;
      left: 0;
      margin: 0 auto;
      right: 0;
      width: 100% !important;
      .canvas-loader {
        height: auto !important;
        width: 100% !important;
        .overlay-loader {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
  &.lo-hide{
    opacity: 0;
    z-index: -999999;
  }
}