.payment{
  height: calc(100vh - 151px);
  min-height: 650px;
  .holder{
    max-width: 1300px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    .container-fluid{

      /* Chrome/Opera/Safari */
      .checkout-form ::-webkit-input-placeholder { color: #747474; font-family: 'Lato-Medium'; font-size: 15px}
      /* Firefox 19+ */
      .checkout-form ::-moz-placeholder { color: #747474; font-family: 'Lato-Medium'; font-size: 15px }
      /* IE 10+ */
      .checkout-form :-ms-input-placeholder { color: #747474; font-family: 'Lato-Medium'; font-size: 15px }
      /* Firefox 18- */
      .checkout-form :-moz-placeholder { color: #747474; font-family: 'Lato-Medium'; font-size: 15px }


      .checkout-form input[type=text].invalid,
      .checkout-form input[type=password].invalid {
        color: #f00;
      }

      .checkout-form .invalid::-webkit-input-placeholder { color: #f00; }
      /* Firefox 19+ */
      .checkout-form .invalid::-moz-placeholder { color: #f00; }
      /* IE 10+ */
      .checkout-form .invalid:-ms-input-placeholder { color: #f00; }
      /* Firefox 18- */
      .checkout-form .invalid:-moz-placeholder { color: #f00; }


      .checkout-form.loading .loader-element,
      .checkout-form.response-visible .response {
        opacity: .65;
        width: 100%;
      }

      .checkout-form.response-visible .response {
        opacity: 1;
      }

      .checkout-form{
        display: block;
        margin: 0 auto;
        max-width: 971px;
        position: relative;
        .loader-element{
          background: #f0f0f0;
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          width: 0;

          -webkit-transition: opacity 375ms;
          -moz-transition: opacity 375ms;
          -ms-transition: opacity 375ms;
          -o-transition: opacity 375ms;
          transition: opacity 375ms;

          .inner{
            color: #333333;
            font-size: 18px;
            left: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;

            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }

          .heading{
            border-bottom: 1px solid #666;
            padding-bottom: 40px;
          }

          .body{
            h3{
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 15px;
              margin-top: 0;
            }
          }

          .data{
            font-size: 15px;
            margin: 0 auto 20px;
            max-width: 540px;
            text-align: left;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
        .loader-element {
          background: url(../imgs/loader.svg) no-repeat center center;
          z-index: 1;
        }
        .heading{
          color: #1D3756;
          font-family: 'Lato-SemiBold';
          font-size: 20px;
          margin-bottom: 85px;
          text-align: center;
          small{
            font-family: 'Lato-Regular';
            font-size: 15px;
          }
        }
        .content{
          .input-container{
            max-width: 455px;
          }

          input, select, button{
            background: #F4F4F4;
            border: none;
            color: #747474;
            font-family: 'Lato-Medium';
            font-size: 15px;
            margin: 0 0 18px;
          }
          input[type=text], select{
            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.21);
            height: 41px;
            outline: none;
            width: 100%;
          }
          input[type=text]{
            padding: 6px 10px;
          }
          button{
            background: #009A4D;
            color: #ffffff;
            cursor: pointer;
            float: right;
            height: 32px;
            margin-bottom: 50px;
            margin-top: 2px;
            outline: none;
            text-transform: uppercase;
            transform: skewX(-20deg);
            width: 228px;
            span{
              display: block;
              transform: skew(20deg);
            }
          }
          .brand-wrapper{
            display: flex;
            float: right;
            span{
              color: #757575;
              font-family: 'Lato-Medium';
              font-size: 15px;
              margin-right: 24px;
              max-width: 109px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .response{
    background: #ffffff;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 750ms;
    width: 0;
  }
  .response.loading {
    height: 100%;
    opacity: 0.65;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .payment{
    height: auto;
    padding: 28px 0;
    .holder{
      top: initial;
      transform: initial;
      .container-fluid{
        .checkout-form{
          .heading{
            font-size: 13px;
            margin-bottom: 20px;
            small{
              font-size: 12px;
            }
          }
          .content{
            .input-container{
              margin: 0 auto;
            }
            button{
              float: initial;
              left: 50%;
              margin-bottom: 23px;
              margin-top: 23px;
              position: relative;
              transform: skewX(-20deg) translate(-50%);
              width: 284px;
            }
            .brand-wrapper{
              align-items: center;
              float: initial;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}