
.wrapper-main-return {
  left: 40px;
  max-width: 76px;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 1;
  .return-main {
    color: #595959;
    display: block;
    font-family: 'Lato-Medium', sans-serif;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    span {
      display: block;
      position: absolute;
      text-align: center;
      width: 100%;
    }
    &:after {
      content: '<';
      display: block;
      height: 53px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }
}

.wrapper-img-swipe {
  left: 50%;
  max-width: 87px;
  opacity: 1;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  transition: opacity 300ms linear, z-index 755ms linear;
  width: 100%;
  z-index: 1;
  &.swipe-hide {
    opacity: 0;
    z-index: -9999;
  }
}

.inner-parent-wrapper {
  padding: 30px 0 57px;
  height: 100%;
  width: 100%;
}

.inner-outer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 800vw;
  .cover-page {
    height: 100%;
    position: relative;
    width: 100vw;
    z-index: 0;
    &:after {
      background: url(../imgs/hexagons-background.svg) no-repeat center;
      background-size: contain;
      content: '';
      display: block;
      height: 100%;
      left: 63%;
      max-height: 600px;
      max-width: 826px;
      position: absolute;
      top: 53%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: -1;
    }
    .holder {
      height: 100%;
      max-width: 1300px;
    }
    .wrapper-information-cover {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 100%;
    }
    .content-principal-title {
      height: 100%;
      position: relative;
      width: 49%;
      .inner-content-title {
        left: 47%;
        max-width: 495px;
        position: relative;
        transform: translate(-50%, -50%);
        top: 40%;
        width: 100%;
        &:after {
          background: url(../imgs/linea1.svg) no-repeat center;
          background-size: contain;
          content: '';
          display: block;
          height: 124px;
          position: absolute;
          right: -39px;
          top: -63px;
          width: 137px;
        }
        .title-principal {
          color: #1E3755;
          font-family: 'Lato-Heavy', sans-serif;
          font-size: 38px;
          line-height: 40px;
          min-height: 41px;
          text-transform: uppercase;
        }
        .subtitle-principal {
          color: #595959;
          font-family: 'Lato-Medium', sans-serif;
          font-size: 30px;
          line-height: 40px;
          margin-top: 4px;
          text-align: center;
          text-transform: uppercase;
        }

      }
    }
    .content-principal-image {
      display: flex;
      align-items: center;
      height: 100%;
      width: 51%;
      .inner-content-image {
        .content-image-text {
          color: #595959;
          font-family: 'Lato-Medium', sans-serif;
          font-size: 16px;
          line-height: 26px;
          max-width: 520px;
          min-height: 78px;
          width: 100%;
          b {
            font-family: 'Lato-Bold', sans-serif;
          }
        }
        .content-image-canvas {
          z-index: 0;
          .inner-image-canvas {
            max-width: 632px;
            width: 100%;
            canvas + div {
              display: none !important;
              visibility: hidden !important;
            }
            .animation-container {
              height: 100% !important;
              left: 0;
              margin: 0 auto;
              right: 0;
              width: 100% !important;
              .canvas-container {
                height: auto !important;
                width: 100% !important;
                .container-overlay {
                  height: 100% !important;
                  width: 100% !important;
                }
              }
            }
          }
        }

      }
    }
  }
  .steps-process {
    height: 100%;
    position: relative;
    width: 100vw;
    &:after {
      background: url(../imgs/hexagons-background.svg) no-repeat center;
      background-size: cover;
      content: '';
      display: block;
      height: 100%;
      left: 63%;
      max-height: 600px;
      max-width: 827px;
      position: absolute;
      top: 53%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: -1;
    }
    .holder {
      height: 100%;
      max-width: 1300px;
    }
    .wrapper-step {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
    }
    .wrapper-information-step {
      height: 100%;
      width: 55%;
      .inner-information-step {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 1;
        &:after {
          background: url(../imgs/hexagon-internas.svg) no-repeat center;
          background-size: contain;
          content: '';
          height: 100%;
          left: -33px;
          max-height: 547px;
          max-width: 505px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          z-index: -1;
        }
        .title-step {
          align-items: center;
          display: flex;
          max-width: 264px;
          min-height: 81px;
          position: relative;
          &.other {
            margin-left: 75px;
            max-width: 491px;
          }
        }
        .inner-title-step {
          color: #1E3755;
          font-family: 'Lato-Medium', sans-serif;
          font-size: 35px;
          line-height: 40px;
          margin-left: 59px;
          text-align: center;
          text-transform: uppercase;
          b {
            font-size: 40px;
            font-weight: normal;
          }
        }
        .number-step {
          color: #595959;
          font-family: 'AvenirNextCondensed-DemiBold', sans-serif;
          font-size: 100px;
          left: -24px;
          line-height: 159px;
          opacity: .66;
          position: absolute;
          .inner-step {
            position: relative;
            &:after {
              background: #007934;
              bottom: 33px;
              content: '';
              display: block;
              height: 4px;
              left: 103%;
              position: absolute;
              transform: translateX(-50%);
              width: 34px;
            }
          }
        }
        .list-of-step {
          list-style: none;
          margin: 14px 24px 0 auto;
          max-width: 375px;
          padding: 0;
          width: 100%;
          li {
            color: #595959;
            font-family: 'Lato-Regular', sans-serif;
            font-size: 16px;
            line-height: 26px;
            list-style: none;
            margin-bottom: 4px;
            position: relative;
            &:after {
              background: url(../imgs/dot-list.svg) no-repeat center;
              background-size: cover;
              content: '';
              display: block;
              height: 11px;
              left: -23px;
              position: absolute;
              top: 6px;
              width: 11px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .list-of-step > ul > ul{
          li{
            list-style: circle;
            &:after{
              content: none;
            }
          }
        }
        .list-of-step > ul > ul > ul {
          li{
            list-style: none;
          }
        }
      }
    }
    .wrapper-animation-step {
      align-items: center;
      display: flex;
      height: 100%;
      width: 45%;
      .inner-animation-step {
        max-width: 632px;
        width: 100%;
        .content-animation {
          canvas + div {
            display: none !important;
            visibility: hidden !important;
          }
          height: 100% !important;
          left: 0;
          margin: 0 auto;
          right: 0;
          width: 100% !important;
          .content-canvas {
            height: auto !important;
            width: 100% !important;
            .content-overlay {
              height: 100% !important;
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
.animation{
  bottom: 80px;
  left: 50px;
  position: absolute;
}
.wrapper-marked {
  bottom: 78px;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
  .inner-wrapper-mark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .mark-section {
      cursor: pointer;
      display: block;
      flex-shrink: 0;
      min-height: 60px;
      max-width: 160px;
      position: relative;
      text-decoration: none;
      width: 100%;
      .wrapper-arrow-yellow {
        max-width: 12px;
        position: absolute;
        right: 0;
        top: 31%;
        transform: translateY(-50%);
        width: 100%;
      }
      .mark-figure {
        align-items: center;
        display: flex;
        height: 36px;
        margin: 0 auto;
        max-width: 31px;
        width: 100%;
        .inner-mark-figure {
          background: url(../imgs/yellow-mark.svg) no-repeat center;
          background-size: cover;
          height: 21px;
          margin: 0 auto;
          max-width: 19px;
          transition: all 355ms ease-in-out;
          width: 100%;
        }
      }
      .mark-name {
        color: #595959;
        font-family: 'AvenirNextCondensed-DemiBold', sans-serif;
        font-size: 16px;
        line-height: 15px;
        margin-top: 9px;
        text-align: center;
        transition: all 355ms ease-in-out;
        b{
          font-family: 'AvenirNextCondensed-DemiBold', sans-serif;
        }
      }
      &:after, &:before {
        background: #FFDD00;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        top: 31%;
        transform: translateY(-50%);
        transition: width 355ms ease-in-out;
        width: 44%;
      }
      &:before {
        left: 0;
      }
      &:after {

        right: 0;

      }
      &:first-child {
        &:before {
          display: none;
        }
      }
      &:last-child {
        .wrapper-arrow-yellow {
          display: none;
        }
        &:after {
          display: none;
        }
      }
      &.mark-visited {
        .mark-figure {
          .inner-mark-figure {
            background: url(../imgs/green-mark.svg) no-repeat center;
            background-size: cover;
            height: 36px;
            max-width: 31px;
          }
        }
        .mark-name {
          font-family: 'AvenirNextCondensed-Bold';
          b{
            font-family: 'AvenirNextCondensed-Bold';
          }
        }
        &:after, &:before {
          width: 40%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .animation{
    bottom: 125px;
    left: 25px;
    max-width: 80px;
    img{
      width: 100%;
    }
  }
  .wrapper-main-return {
    left: 20px;
    top: 65px;
    .return-main {
      font-size: 13px;
      line-height: 20px;
      &:after {
        left: 8px;
      }
    }
  }
  .inner-parent-wrapper {
    overflow: hidden;
    padding-bottom: 125px;
    position: relative;
  }
  .inner-outer-wrapper {
    .cover-page {
      height: auto;
      max-width: none;
      width: 100vw;
      &:after {
        background-size: cover;
        height: 80%;
        left: 50%;
        width: 80%;
      }
      .holder {
        max-width: 100%;
      }
      .wrapper-information-cover {
        flex-direction: column;
        justify-content: center;
      }
      .content-principal-title {
        align-items: center;
        display: flex;
        height: auto;
        width: 100%;
        .inner-content-title {
          left: inherit;
          margin: 30px auto 0;
          max-width: 280px;
          top: inherit;
          transform: inherit;
          &:after {
            height: 56px;
            right: -15px;
            top: -25px;
            width: 80px;
          }
          .title-principal {
            font-size: 19px;
            line-height: 20px;
            min-height: 21px;
            text-align: center;
          }
          .subtitle-principal {
            font-size: 13px;
            line-height: 15px;
            margin: 10px auto;
          }
        }
      }
      .content-principal-image {
        height: 100%;
        width: 100%;
        .inner-content-image {
          .content-image-text {
            font-size: 13px;
            line-height: 20px;
            margin: 35px auto 0;
            max-width: 90%;
          }
          .content-image-canvas {
            margin-top: 40px;
            .inner-image-canvas {
              max-width: none;
            }
          }
        }
      }
    }
    .steps-process {
      min-height: 640px;
      max-width: none;
      position: relative;
      width: 100vw;
      &:after {
        display: none;
      }
      .wrapper-step {
        flex-direction: column;
        justify-content: center;
      }
      .wrapper-information-step {
        height: auto;
        margin-top: 28px;
        width: 100%;
        .inner-information-step {
          align-items: inherit;
          padding: 10px 25px 0;
          position: inherit;
          &:after {
            left: -55px;
            max-height: 336px;
            max-width: 335px;
            top: 29%;
          }
          .title-step {
            left: 35%;
            max-width: 136px;
            min-height: 41px;
            transform: translateX(-50%);
            &.other {
              margin-left: 30px;
              max-width: 215px;
              .number-step {
                left: -25px;
              }
            }
          }
          .inner-title-step {
            font-size: 15px;
            line-height: 20px;
            margin: 0 !important;
            text-align: right;
            b {
              font-size: 20px;
            }
          }
          .number-step {
            font-size: 50px !important;
            left: -28px;
            .inner-step {
              &:after {
                bottom: 53px;
                height: 2px;
                left: 86%;
                width: 21px;
              }
            }
          }
          ul.list-of-step {
            margin-top: 18px;
            max-width: 221px;
            position: relative;
            left: 51%;
            transform: translateX(-50%);
            li {
              font-size: 13px;
              line-height: 30px;
              margin-bottom: -1px;
              &:after {
                height: 8px;
                left: -15px;
                width: 8px;
              }
            }
          }
        }
      }
      .wrapper-animation-step {
        width: 100%;
        .inner-animation-step {
          margin: 78px auto 0;
          max-width: 231px;
        }
      }
    }
  }
  .wrapper-marked {
    bottom: 0;
    left: 0;
    position: absolute;
    transform: none;
    overflow: hidden;
    .inner-wrapper-mark {
      justify-content: right;
      transition: transform 355ms linear;
      width: 700px;
      .mark-section {
        width: 100px;
        .wrapper-arrow-yellow {
          max-width: 7px;
          top: 15%;
        }
        .mark-figure {
          height: 20px;
          max-width: 18px;
          .inner-mark-figure {
            height: 12px;
            max-width: 11px;
          }
        }
        .mark-name {
          font-size: 10px;
          line-height: 15px;
        }
        &:after, &:before {
          top: 18%;
        }
        &.mark-visited {
          .mark-figure {
            .inner-mark-figure {
              height: 20px;
              max-width: 18px;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 600px), (max-height: 700px) {
  .inner-outer-wrapper {
    .cover-page {
      .content-principal-image {
        .inner-content-image {
          height: 100%;
          .content-image-text {
            font-size: 15px;
            margin-top: 5px;
          }
          .content-image-canvas {
            .inner-image-canvas {
              margin: 0 auto;
              max-width: 400px;
            }
          }
        }
      }
    }
    .steps-process {
      .wrapper-information-step {
        .inner-information-step {
          ul {
            margin: -10px 24px 0 auto;
            li {
              font-size: 13px;
              margin-top: -5px;
            }
          }
          &:after {
            left: 34%;
            max-width: 307px;
            top: 43%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .wrapper-animation-step {
        justify-content: center;
        .inner-animation-step {
          max-width: 400px;
        }
      }
    }
  }
  .wrapper-marked {
    bottom: 80px;
    .inner-wrapper-mark {
      .mark-section {
        .mark-name {
          font-size: 14px;
        }
      }
    }
  }
}


@media (max-width: 480px) {
  .wrapper-marked {
    bottom: 30px;
  }
}