.wrapper-return {
  background: #fff;
  left: 0;
  position: fixed;
  top: 90px;
  z-index: 2;
  .btn-return {
    color: #1E3755;
    display: block;
    font-family: 'Lato-Medium', sans-serif;
    font-size: 15px;
    line-height: 40px;
    min-height: 45px;
    padding-right: 25px;
    text-decoration: none;
    width: 152px;
    span {
      display: block;
      position: relative;
      text-align: right;
      width: 100%;
      &:before {
        background: url(../imgs/green-arrow.svg) right center no-repeat;
        background-size: cover;
        bottom: 11px;
        content: '';
        display: block;
        height: 13px;
        left: 24px;
        position: absolute;
        transform: rotate(180deg);
        width: 33px;
      }
    }
  }
}

@media (max-width: 995px) {
  .wrapper-return{
    left: inherit;
    right: 0;
    top: 70px;
    transform: inherit;
    .btn-return{
      padding-right: 10px;
      width: 100px;
      span{
        &:before{
          height: 12px;
          left: 7px;
          width: 17px;
        }
      }
    }
  }
}