
.specialists-wrapper {
  padding-bottom: 200vh;
  position: relative;
}

.specialists{
  bottom: 1px;
  height: calc(100vh - 80px);
  left: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  z-index: 10;
  .holder{
    margin: 0;
    max-width: initial;
    .container-fluid{
      padding: 0;
      .content{
        align-items: flex-end;
        display: flex;
        height: calc(100vh - 80px);
        margin: 0 auto;
        max-width: 1300px;
        .left-side,
        .right-side{
          width: 50%;
        }

        .left-side{
          max-width: 50%;
          overflow: hidden;
          position: relative;
          width: 100%;
          img{
            bottom: 0;
            position: absolute;
          }
          .img2-vertical{
            bottom: 0;
            height: 0;
            position: absolute;
            width: 100%;
          }
        }
        .right-side{
          align-self: flex-start;
          height: 100%;
          max-width: 50%;
          position: relative;
          .image{
            height: 50%;
            max-width: 650px;
            opacity: 0;
            overflow: hidden;
            position: relative;
            width: 0;
            .img1-horizontal,
            .img2-horizontal{
              height: 100%;
              max-width: 650px;
              position: absolute;
              width: 100%;
            }
            .img2-horizontal{
              width: 0;
            }
          }
          .section-desc{
            height: 50%;
            margin: 0 auto;
            width: fit-content;
            .wrapper-desc{
              position: relative;
              top: 50%;
              transform: translate(0, -50%);
            }
            .header {
              margin-bottom: 14px;
              .title {
                color: #1D3756;
                font-family: 'Lato-Bold';
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;
                width: 328px;
                b{
                  font-size: 37px;
                }
              }
            }
            .desc{
              color: #1D3756;
              font-family: 'Merriweather-Light';
              font-size: 15px;
              text-align: center;
              width: 320px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px){
  .specialists-wrapper {
    padding-bottom: 0;
  }
  .specialists{
    height: auto !important;
    position: relative !important;
    .holder{
      .container-fluid{
        .content{
          align-items: center;
          flex-direction: column;
          height: initial;
          .left-side{
            height: 577px !important;
            max-width: initial !important;
            opacity: 1 !important;
            .img1-vertical{
              height: 100% !important;
              opacity: 1 !important;
            }
            .img2-vertical{
              display: none;
            }
            img{
              width: 100%;
            }
          }
          .right-side{
            max-width: 100%;
            width: 100% !important;
            .image{
              display: none;
            }
            .section-desc{
              margin: 20px auto !important;
              position: inherit;
              transform: inherit;
              .wrapper-desc{
                top: inherit;
                transform: inherit;
              }
              .header{
                .title{
                  font-size: 18px !important;
                  text-align: center !important;
                  b{
                    font-size: 28px !important;
                  }
                }
              }
              .desc{
                font-size: 11px !important;
                margin: 0 auto;
                width: 247px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 580px){
  .specialists{
    .holder{
      .container-fluid{
        .content{
          .left-side{
            height: 257px !important;
          }
        }
      }
    }
  }
}