.block.suministro {
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 0;
  &:after, &:before {
    content: '';
    position: absolute;
    z-index: -1;
  }
  &:before {
    background: url(../imgs/hexagons.svg) no-repeat center;
    background-size: cover;
    bottom: -59px;
    display: none;
    height: 166px;
    left: 7px;
    opacity: 0;
    transition: opacity 355ms ease-in-out;
    width: 175px;
  }
  &:after {
    background: #F2F2F2;
    display: block;
    height: 92%;
    left: 0;
    top: 0;
    width: 100%;
  }
  .text-back-supply {
    color: #595959;
    font-family: 'AvenirNextCondensed-DemiBold', sans-serif;
    font-size: 125px;
    left: -20px;
    line-height: 159px;
    opacity: .04;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 48%;
    transform: translateY(-50%);
    width: 100%;
  }
  .holder {
    max-width: 1300px;
    .container-fluid {
      padding-right: 0;
    }
    .content {
      display: flex;
      flex-direction: row;
      .wrapper-supply-info {
        width: 47%;
        .inner-supply {
          margin-top: 11px;
          max-width: 440px;
          left: 53.5%;
          position: relative;
          text-align: left;
          transform: translateX(-50%);
          width: 100%;
          .header {
            margin-bottom: 25px;
            max-width: 377px;
            width: 100%;
            .title {
              color: #1D3756;
              font-family: 'Lato-Bold', sans-serif;
              font-size: 30px;
              line-height: 36px;
              text-align: left;
              text-transform: uppercase;
            }
          }
          .description-supply {
            color: #595959;
            font-family: 'Merriweather-Light', sans-serif;
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 81px;
            max-width: 430px;
            min-height: 121px;
            width: 100%;
            b {
              font-family: 'Merriweather-Bold', sans-serif;
            }
          }
          .subtitle-supply {
            font-family: 'Lato-Bold', sans-serif;
            font-size: 25px;
            letter-spacing: -0.1px;
            line-height: 30px;
            max-width: 377px;
            text-transform: uppercase;
            position: relative;
            width: 100%;
            b {
              font-size: 35px;
              letter-spacing: -0.12px;
            }
            &:after {
              background: url(../imgs/green-arrow.svg) center no-repeat;
              background-size: cover;
              bottom: 0;
              content: '';
              display: block;
              height: 13px;
              left: 53%;
              position: absolute;
              transform: translateX(-50%);
              width: 33px;
            }
          }
        }
      }
      .wrapper-supply-carrousel {
        height: 585px;
        width: 53%;
        .inner-carrousel {
          height: 100%;
          .util-carrousel {
            height: 100%;
            .prev-button, .next-button {
              background: url(../imgs/arrow-white.svg) no-repeat center;
              background-size: cover;
              height: 40px;
              margin: 0;
              top: 58%;
              transform: translateY(-50%);
              transition: left 500ms ease-in-out;
              width: 57px;
            }
            .next-button {
              left: 81.5%;
              transform: translateX(-50%);
              &:hover {
                left: 83%;
              }
            }
            .prev-button {
              left: 12%;
              transform: translateX(-50%) rotate(181deg);
              &:hover {
                left: 10%;
              }
            }
            .carrousel-wrapper {
              height: 100%;
              width: 100%;
              .thumbs-container {
                height: 100%;
              }
              .thumb {
                display: flex;
                align-items: center;
                max-width: 484px;
                height: 100%;
                position: relative;
                width: 100% !important;
                .wrapper-supply-thumb {
                  display: block;
                  height: 100%;
                  position: relative;
                  transition: margin-left 500ms ease-in-out;
                  text-decoration: none;
                  width: 100%;
                  .content-img {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%) skew(-9deg);
                    overflow: hidden;
                    right: 0;
                    transition: height 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
                    width: 81%;
                    .inner-content-img {
                      display: block;
                      height: 585px;
                      left: 50%;
                      max-width: none;
                      position: absolute;
                      top: 50%;
                      transform: translate(-50%, -50%) skew(9deg);
                      width: 125%;
                      img {
                        display: block;
                        height: 100%;
                        left: 50%;
                        max-width: none;
                        position: relative;
                        transform: translateX(-50%);
                        transition: transform 2.5s ease-in-out;
                        width: auto;
                      }
                    }
                  }
                  .content-category {
                    color: #fff;
                    font-family: 'Merriweather-Bold', sans-serif;
                    font-size: 20px;
                    left: 39%;
                    letter-spacing: 2.8px;
                    line-height: 23px;
                    max-width: 280px;
                    position: absolute;
                    top: 76%;
                    transform: translate(-50%, -50%);
                    transition: left 1s ease-in-out, opacity 2s ease-in-out;
                    width: 100%;
                    .inner-content-category {
                      position: relative;
                      width: 100%;
                      b {
                        color: #FCDC00;
                        font-family: 'Lato-Bold', sans-serif;
                        font-size: 45px;
                        letter-spacing: 5.7px;
                        line-height: 40px;
                        text-transform: uppercase;
                      }
                      &:after {
                        background: #007934;
                        bottom: -13px;
                        content: '';
                        display: block;
                        height: 4px;
                        left: 4px;
                        opacity: 0;
                        position: absolute;
                        transition: opacity 2s ease-in-out;
                        width: 102px;
                      }
                    }
                  }
                }
                &.full-visible {
                  z-index: 0;
                  .wrapper-supply-thumb {
                    margin-left: 0;
                  }
                  .content-img {
                    box-shadow: 10px 10px 23px rgba(0, 0, 0, .31);
                    height: 100%;
                  }
                  .content-category {
                    opacity: 1;
                    .inner-content-category {
                      &:after {
                        opacity: 1;
                      }
                    }
                  }
                  &:hover {
                    img {
                      transform: scale(1.3);
                    }
                  }
                }
                &.partial-visible {
                  z-index: -1;
                  .wrapper-supply-thumb {
                    margin-left: -109px;
                  }
                  .content-img {
                    height: 70%;
                  }
                  .content-category {
                    left: 75%;
                    opacity: 0;
                  }
                }
                &.no-visible {
                  .content-img {
                    height: 0;
                  }
                  .content-category {
                    .inner-content-category {
                      opacity: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1030px) {
  .block.suministro {
    &:after {
      height: 93.5%;
    }
    .holder {
      .container-fluid {
        padding-right: 15px;
      }
      .content {
        flex-direction: column;
        .wrapper-supply-info {
          width: 100%;
          .inner-supply {
            left: 50%;
            margin-bottom: 37px;
            max-width: 274px;
            .header {
              margin-bottom: 14px;
              max-width: 247px;
              .title {
                font-size: 20px;
                line-height: 24px;
              }
            }
            .description-supply {
              margin-bottom: 8px;
              max-width: none;
              font-size: 12px;
              line-height: 23px;
            }
            .subtitle-supply {
              font-size: 18px;
              letter-spacing: -0.1px;
              line-height: 22px;
              max-width: 171px;
              min-height: 72px;
              b {
                font-size: 20px;
                letter-spacing: -0.1px;
              }
              &:after {
                bottom: 18px;
                left: 66%;
                transform: translateX(-50%) rotate(90deg);
              }
            }
          }
        }
        .wrapper-supply-carrousel {
          height: 352px;
          width: 100%;
          .inner-carrousel {
            .util-carrousel {
              max-width: 350px;
              .prev-button, .next-button {
                height: 25px;
                top: 55%;
                width: 35px;
              }
              .carrousel-wrapper {
                max-width: none;
                .thumb {
                  max-width: 299px;
                  .wrapper-supply-thumb {
                    .content-category {
                      font-size: 13px;
                      letter-spacing: 1.82px;
                      max-width: 153px;
                      .inner-content-category {
                        b {
                          font-size: 25px;
                          letter-spacing: 3.17px;
                          line-height: 40px;
                        }
                        &:after {
                          bottom: -3px;
                          height: 2px;
                          width: 57px;
                        }
                      }
                    }
                  }
                  &.full-visible {
                    &:hover {
                      img {
                        transform: none;
                      }
                    }
                  }
                  &.partial-visible {
                    .wrapper-supply-thumb {
                      margin-left: -25px;
                    }
                    .content-img {
                      height: 85%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .block.suministro {
    overflow: visible;
    &:before {
      display: block;
      opacity: 1;
    }
  }
}

@media (max-width: 355px) {
  .block.suministro {
    .holder {
      .container-fluid {
        padding-right: 0;
      }
      .content {
        .wrapper-supply-carrousel {
          .inner-carrousel {
            .util-carrousel {
              max-width: none;
              .carrousel-wrapper {
                .thumb {
                  &.full-visible {
                    .wrapper-supply-thumb {
                      margin-left: -26px;
                    }
                  }
                  &.partial-visible {
                    .wrapper-supply-thumb {
                      margin-left: -62px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}