.why-us {
    .holder {
        .header {
          .title {
              color: #1D3756;
              font-family: 'Lato-Bold';
              font-size: 28px;
              text-align: left;
              text-transform: uppercase;
          }
        }

        .whyus-item{
          position: relative;
          &:after{
            background: rgba(175, 175, 175, .29);
            content: '';
            display: block;
            height: 140px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;
            width: 2px;
          }
          &:last-child{
            &:after{
              content: none;
            }
          }
        }
         
        .feature {

            img {
              display: block;
              height: auto;
              max-width: 100%;
            }

            .icon {
              margin: 0 auto 8px;
              max-width: 89px;
            }
            
            .extra {
                    padding-bottom: 10px;
            }

            .title {
              color: #3D3D3D;
              font-family: 'Lato-SemiBold';
              font-size: 15px;
              text-transform: uppercase;
              line-height: 20px;
              text-align: center;
              padding-left: 25px;    
              padding-right: 25px;    
            }
            
            .desc {
              color: #858585;
              font-family: 'Lato-Medium';
              font-size: 15px;
              line-height: 20px;
              text-align: center;
              padding-left: 27px;    
              padding-right: 27px;    
            }
        }
    }
}

@media (max-width: 767px) {
    
    .why-us {
        .holder {
            .whyus-item{
              &:nth-child(2){
                &:after{
                  content: none;
                }
              }
            }
            .header {
              .title {
                  text-align: center;
                  font-size: 20px;
              }
            }
        }
    }
}

@media (max-width: 575px) {

  .why-us {
    padding-bottom: 31px;
    .holder {
      .whyus-item{
        margin-bottom: 20px;
        &:after{
          bottom: 0;
          height: 2px;
          left: 50%;
          right: initial;
          top: initial;
          transform: translate(-50%,0);
          width: 128px;
        }
        &:nth-child(2){
          &:after {
            content: '';
          }
        }
      }
      .header {
        .title {
          text-align: center;
          font-size: 20px;
        }
      }

      .feature{
        .title,
        .desc{
          font-size: 13px;
        }
      }
    }
  }
}
