.footer {
  background-color: #A1A3AB;
  color: #9a9a9a;
  padding: 0;
  position: relative;
  .holder {
    margin: 0;
    max-width: initial;
  }
  .container-fluid {
    padding: 0 45px;
  }
  .content {
    align-items: center;
    color: #fff;
    display: flex;
    height: 70px;
    justify-content: space-between;
    position: relative;
    .footer-left,
    .footer-right {
      align-items: center;
      display: flex;
      justify-content: space-around;
    }
    .footer-left {
      .logo-cargo-baja {
        max-width: 157px;
        width: 100%;
      }
      .copyright {
        font-family: 'Lato-Medium', sans-serif;
        font-size: 9px;
        margin-left: 40px;
        max-width: 148px;
        width: 100%;
        span {
          display: block;
          width: 100%;
        }
      }
    }
    .footer-right {
      .logo-en {
        margin-right: 65px;
      }
      .privacity {
        border-bottom: 1px solid #ffffff;
        color: #fff;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
      }
      .logo-goplek {
        display: block;
        margin-left: auto;
        width: 75px;
      }
    }
  }
  &.changePosition {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 15px;
    &.changePosition {
      position: relative;
    }
  }
}

@media (max-height: 700px) {
  .footer{
    .content{
      height: 55px;
    }
  }
}
@media (max-width: 700px){
  .footer {
    .content {
      flex-direction: column;
      height: 129px;
      justify-content: space-around;
      .footer-left,
      .footer-right {
        flex-direction: column;
        justify-content: center;
      }
      .footer-left {
        max-width: 138px;
        width: 100%;
        .logo-cargo-baja {
          margin-bottom: 10px;
          max-width: 89px;
          width: 100%;
        }
        .copyright {
          margin-left: 0;
          margin-top: 6px;
          text-align: center;
        }
      }
      .footer-right {
        .logo-en {
          margin-bottom: 10px;
          margin-right: 1px;
        }
        .privacity {
          border-bottom: 1px solid #ffffff;
          margin-right: 0;
          text-transform: uppercase;
        }
        .logo-goplek {
          display: block;
          margin-left: 0;
          width: 27px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

