/*
    Document   : navigation.scss
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/
.navigation {
  background: #fff;
  border-bottom: 2px solid #007937;
  height: 81px;
  padding: 10px 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 355ms linear;
  width: 100%;
  z-index: 11;

  .holder {
    height: 100%;
    max-width: 1290px;
    width: 100%;
  }
  .container-fluid {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    display: block;
    float: left;
    max-width: 133px;
    width: 100%;
  }

  .list {
    height: 100%;
    list-style: none;
    margin: 0 auto;
    max-width: 152px;
    padding: 0;
    text-align: right;
    width: 100%;
    li {
      font-family: 'AvenirNextCondensed-DemiBold', sans-serif;
      font-size: 16px;
      height: 68px;
      line-height: 65px;
      text-transform: uppercase;
      width: 100%;
      a {
        color: #004E1E;
        display: block;
        height: 100%;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 100%;
        span {
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }
      &.add-after {
        margin-bottom: 29px;
        position: relative;
        &:after {
          background: #fff;
          bottom: -16px;
          content: '';
          display: block;
          height: 1px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
      &.other-font {
        font-family: 'AvenirNextLTPro-MediumCnIt', sans-serif;
        font-size: 12px;
        pointer-events: none;
        a {
          color: #737373;
        }
      }
      &.change-font {
        font-family: 'AvenirNext-Medium', sans-serif;
        a {
          color: #494949;
        }
      }
      &.flag {
        margin-top: 42px;
        a {
          img {
            margin: 0 auto;
            max-width: 25px;
            width: 100%;
          }
        }
      }
    }
  }

  .list-wrapper {
    background-color: #DDDEE1;
    height: calc(100vh - 151px);
    max-width: 395px;
    overflow-y: scroll;
    opacity: 0;
    padding: 94px 20px 58px;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: opacity 375ms, transform 375ms;
    top: 81px;
    width: 100%;
    &.list-collapsed {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .bandera {
    margin: 0 auto;
    margin-right: 10px;
    height: 32px;

    img {
      width: 31px;
    }
  }

  .toggle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 26px;
    outline: none;
    padding: 7px;
    width: 50px;
    .bar {
      background-color: #979797;
      display: block;
      height: 3px;
      left: 0;
      margin-bottom: 5px;
      transition: all 355ms linear;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 8px;
      }
      &:nth-child(3) {
        top: 8px;
      }
      &:nth-child(4) {
        top: 16px;
      }
    }
  }
  &.navigation-collapsed {
    .toggle-btn {
      .bar {
        &:nth-child(1) {
          margin-bottom: -11px;
          margin-top: 10px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          background: transparent;
        }
        &:nth-child(3) {
          top: 0;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
  .item-active{
    &:after{
      background: #004e1e;
      bottom: 20px;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      width: 40px;
    }
  }
}

@media (max-width: 767px),  (max-height: 700px){
  .navigation {
    height: 50px;
    .logo {
      margin-left: 4px;
    }
    .list {
      max-width: 158px;
      li {
        height: 64px;
        &.add-after {
          &:after {
            bottom: -18px;
          }
        }
        &.flag {
          margin-bottom: 58px;
        }
      }
    }
    .list-wrapper {
      height: calc(100vh - 60px);
      padding: 45px 20px 58px;
      max-width: 289px;
      top: 60px;
      width: 100%;
    }
    .toggle-btn {
      margin-right: -5px;
      padding: 9px;
    }
  }
}


