.loader{
  background: #ffffff;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
  #animation_container {
    position:absolute;
    margin:auto;
    left:0;right:0;
    top:0;bottom:0;
  }
}