.wrapper-mobil-carrousel{
  .util-carrousel {
    .carrousel-wrapper {
      margin: 0 auto;
      max-width: 600px;
      overflow: hidden;
      width: 100%;
    }
    .thumbs-container{
      align-items: center;
      display: flex;
    }
    .thumb {
      float: left;
      font-family: 'Arial', sans-serif;
      min-width: 600px;

      .wrapper-thumb-content{
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 600px;
        .thumb-img{
          img{
            width: 100%;
          }
        }
      }

      .image {
        margin-bottom: 15px;
        overflow: hidden;
        width: 100%;
        .inner-image {
          padding-bottom: 100%;
          position: relative;
        }
        img {
          height: auto;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
      .title {
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 15px;
        text-align: center;
      }
      .description {
        margin-bottom: 15px;
        text-align: justify;
      }
      .button {
        background-color: #128aff;
        border-radius: .2em;
        color: #fff;
        display: inline-block;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 767px){
  .wrapper-mobil-carrousel {
    .util-carrousel {
      .carrousel-wrapper {
        max-width: 400px;
      }
      .thumb{
        min-width: 400px;
        .wrapper-thumb-content{
          max-width: 400px;
        }
      }
    }
  }
}

@media (max-width: 600px){
  .wrapper-mobil-carrousel {
    .util-carrousel {
      .carrousel-wrapper {
        max-width: 300px;
      }
      .thumb{
        min-width: 300px;
        .wrapper-thumb-content{
          max-width: 300px;
        }
      }
    }
  }
}

@media (max-width: 380px){
  .wrapper-mobil-carrousel {
    .util-carrousel {
      .carrousel-wrapper {
        max-width: 200px;
      }
      .thumb{
        min-width: 200px;
        .wrapper-thumb-content{
          max-width: 200px;
        }
      }
    }
  }
}