/*
  Modal Styles
 */
.pl-modal-overlay {
  background: transparent;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 375ms;
  &.pl-modal-open {
    background: rgba(0, 0, 0, .65);
  }
}

.pl-modal {
  background: transparent;
  backface-visibility: hidden;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  //visibility: hidden;
  width: 500px;
  &.pl-modal-open {
    visibility: visible;
  }
}

/**
  Modal Animations
 */
.pl-modal {
  .pl-modal-content {
    opacity: 0;
    transition: opacity 375ms;
    &.pl-modal-open {
      .pl-modal-content {
        opacity: 1;
      }
    }
  }
}

/* Effect 1: Fade in and scale up */
.pl-modal.pl-effect-1 {
  .pl-modal-content {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 375ms, transform 375ms;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* Effect 2: Slide from the right */
.pl-modal.pl-effect-2 {
  .pl-modal-content {
    opacity: 0;
    transform: translateX(20%);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* Effect 3: Slide from the bottom */
.pl-modal.pl-effect-3 {
  .pl-modal-content {
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.3s;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Effect 4: Newspaper */
.pl-modal.pl-effect-4 {
  .pl-modal-content {
    opacity: 0;
    transform: scale(0) rotate(720deg);
    transition: all 0.5s;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }
}

/* Effect 5: Fall */
.pl-modal.pl-effect-5 {
  perspective: 1300px;
  .pl-modal-content {
    opacity: 0;
    transition: all 0.3s ease-in;
    transform-style: preserve-3d;
    transform: translateZ(600px) rotateX(20deg);
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: translateZ(0px) rotateX(0deg);
    }
  }
}

/* Effect 6: Side fall */
.pl-modal.pl-effect-6 {
  perspective: 1300px;
  .pl-modal-content {
    opacity: 0;
    transition: all 0.3s ease-in;
    transform: translate(30%) translateZ(600px) rotate(10deg);
    transform-style: preserve-3d;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: translate(0%) translateZ(0) rotate(0deg);
    }
  }
}

/* Effect 7: Slide and stick to top */
.pl-modal.pl-effect-7 {
  top: 0;
  transform: translateX(-50%);
  .pl-modal-content {
    border-radius: 0 0 3px 3px;
    opacity: 0;
    transform: translateY(-200%);
    transition: all .3s;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

/* Effect 8: 3D flip horizontal */
.pl-modal.pl-effect-8 {
  perspective: 1300px;
  .pl-modal-content {
    opacity: 0;
    transform-style: preserve-3d;
    transform: rotateY(-70deg);
    transition: all 0.3s;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
}

/* Effect 9: 3D flip vertical */
.pl-modal.pl-effect-9 {
  perspective: 1300px;
  .pl-modal-content {
    opacity: 0;
    transform-style: preserve-3d;
    transform: rotateX(-70deg);
    transition: all 0.3s;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
}

/* Effect 10: 3D sign */
.pl-modal.pl-effect-10 {
  perspective: 1300px;
  .pl-modal-content {
    opacity: 0;
    transform-style: preserve-3d;
    transform: rotateX(-60deg);
    transform-origin: 50% 0;
    transition: all 0.3s;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
}

/* Effect 11: Super scaled */
.pl-modal.pl-effect-11 {
  .pl-modal-content {
    opacity: 0;
    transform: scale(2);
    transition: all 0.3s;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* Effect 12: 3D Rotate from bottom */
.pl-modal.pl-effect-12 {
  perspective: 1300px;
  .pl-modal-content {
    opacity: 0;
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(90deg);
    transform-origin: 0 100%;
    transition: all 0.3s ease-out;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: translateY(0%) rotateX(0deg);
    }
  }
}

/* Effect 13: 3D Rotate in from left */
.pl-modal.pl-effect-13 {
  perspective: 1300px;
  .pl-modal-content {
    opacity: 0;
    transform-style: preserve-3d;
    transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    transform-origin: 0 100%;
    transition: all 0.3s;
  }
  &.pl-modal-open {
    .pl-modal-content {
      opacity: 1;
      transform: translateZ(0px) translateX(0%) rotateY(0deg);
    }
  }
}

@media (max-width: 767px) {
  .pl-modal {
    max-width: 500px;
    width: 90%;
  }
}