.wrapper-mobil-carrousel .util-carrousel .carrousel-wrapper {
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  width: 100%; }

.wrapper-mobil-carrousel .util-carrousel .thumbs-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrapper-mobil-carrousel .util-carrousel .thumb {
  float: left;
  font-family: 'Arial', sans-serif;
  min-width: 600px; }
  .wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 600px; }
    .wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content .thumb-img img {
      width: 100%; }
  .wrapper-mobil-carrousel .util-carrousel .thumb .image {
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%; }
    .wrapper-mobil-carrousel .util-carrousel .thumb .image .inner-image {
      padding-bottom: 100%;
      position: relative; }
    .wrapper-mobil-carrousel .util-carrousel .thumb .image img {
      height: auto;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  .wrapper-mobil-carrousel .util-carrousel .thumb .title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
    text-align: center; }
  .wrapper-mobil-carrousel .util-carrousel .thumb .description {
    margin-bottom: 15px;
    text-align: justify; }
  .wrapper-mobil-carrousel .util-carrousel .thumb .button {
    background-color: #128aff;
    border-radius: .2em;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none; }

@media (max-width: 767px) {
  .wrapper-mobil-carrousel .util-carrousel .carrousel-wrapper {
    max-width: 400px; }
  .wrapper-mobil-carrousel .util-carrousel .thumb {
    min-width: 400px; }
    .wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content {
      max-width: 400px; } }

@media (max-width: 600px) {
  .wrapper-mobil-carrousel .util-carrousel .carrousel-wrapper {
    max-width: 300px; }
  .wrapper-mobil-carrousel .util-carrousel .thumb {
    min-width: 300px; }
    .wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content {
      max-width: 300px; } }

@media (max-width: 380px) {
  .wrapper-mobil-carrousel .util-carrousel .carrousel-wrapper {
    max-width: 200px; }
  .wrapper-mobil-carrousel .util-carrousel .thumb {
    min-width: 200px; }
    .wrapper-mobil-carrousel .util-carrousel .thumb .wrapper-thumb-content {
      max-width: 200px; } }
