.pl-modal-overlay.pl-modal-open {
  z-index: 9; }

.pl-modal {
  max-width: 680px;
  width: 100% !important;
  z-index: 10; }

.pl-modal-close-button {
  background: url(../imgs/close-button-modal.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
  height: 15px;
  position: relative;
  width: 15px;
  z-index: 10; }

.inner-mobil-carrousel-tracing .util-carrousel .prev-button, .inner-mobil-carrousel-tracing .util-carrousel .next-button {
  background: url(../imgs/right-arrow-white.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin: 0;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px; }

.inner-mobil-carrousel-tracing .util-carrousel .next-button {
  margin-right: 10px;
  right: -15px; }

.inner-mobil-carrousel-tracing .util-carrousel .prev-button {
  left: -15px;
  margin-left: 10px;
  top: 49%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg); }

.inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper {
  width: 100%; }
  .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content {
    min-height: 430px;
    position: relative;
    width: 100%; }
    .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-img img {
      display: block; }
    .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text {
      background: rgba(59, 58, 53, 0.9);
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%; }
      .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text .inner-thumb-text {
        min-height: 58px;
        position: relative; }
        .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text .inner-thumb-text .text-thumb {
          color: #fff;
          font-family: 'Montserrat-Regular', sans-serif;
          font-size: 12px;
          left: 50%;
          line-height: 16px;
          max-width: 655px;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 100%; }

@media (max-width: 767px) {
  .pl-modal-close-button {
    height: 15px;
    margin-bottom: 5px;
    margin-right: 0;
    right: 30px;
    top: 30px;
    width: 15px; }
  .pl-modal {
    max-width: 500px !important; }
  .inner-mobil-carrousel-tracing .util-carrousel .prev-button {
    left: 4px; }
  .inner-mobil-carrousel-tracing .util-carrousel .next-button {
    right: 3px; }
  .inner-mobil-carrousel-tracing .util-carrousel .prev-button, .inner-mobil-carrousel-tracing .util-carrousel .next-button {
    height: 20px;
    width: 20px; }
  .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content {
    min-height: 260px; }
    .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text {
      background: transparent; }
      .inner-mobil-carrousel-tracing .util-carrousel .carrousel-wrapper .thumb .wrapper-thumb-content .thumb-text .inner-thumb-text .text-thumb {
        font-size: 10px;
        line-height: 15px;
        text-align: center; } }
