.slide-process {
  opacity: 0;
  -webkit-transform: translateX(5em);
          transform: translateX(5em);
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  transition: transform 2s, opacity 2s;
  transition: transform 2s, opacity 2s, -webkit-transform 2s;
  -webkit-transition-delay: 185ms;
          transition-delay: 185ms; }

.partial {
  opacity: 0;
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
  -webkit-transition: opacity 750ms,-webkit-transform 750ms;
  transition: opacity 750ms,-webkit-transform 750ms;
  transition: transform 750ms,opacity 750ms;
  transition: transform 750ms,opacity 750ms,-webkit-transform 750ms;
  -webkit-transition-delay: 185ms;
          transition-delay: 185ms; }

.displayed {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.viewed {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(0);
          transform: translateY(0) translateX(0); }
